@import url("../../core.css");
@import url("../../modules.css");


.form-input {
    border: 3px solid var(--text-color) !important;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    padding: 1rem;
}

.flow-nav-btns {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.flow-nav-btns a {
    text-decoration: none;
    color: var(--text-color);
}

#post-flow-back i, #post-flow-next i {
    transition: 0.1s transform linear;
}

#post-flow-back:hover i {
    transform: translateX(-5px);
}

#post-flow-next:hover i {
    transform: translateX(5px);
}


.text-align-right{
    text-align: right;
}

.drag-n-drop-box {
    color: var(--text-color);
    opacity: 0.7;
}

.drag-n-drop-literal-text {

}

.browse-text {
    font-weight: bold;
}

.form-input .add-file-icon {
    font-size: 1.25rem;
    margin-right: 0.25rem;
}

.fake-input {
    cursor: pointer;
}


.form-input, .file-container {
    width: 100%;
    position: relative;
    height: 4rem;
}

.file-container:hover, .file-container.drag-active {
    background-color: rgba(0,0,0,0.05);
}

.file-input.drag-active {
    opacity: 1;
}


.file-container .file-input {
    padding-left: 100%; /* Move it off screen to stop pointer events being overriden*/
    opacity: 0.01;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.fake-container {
    padding: 1rem;
}

.image-upload-box-wrapper {
    display: flex;
    gap: 0.5rem;
}

#profileImageUpload {
    border-radius: 5px;
    border: 3px solid var(--text-color);
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.dragndrop {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    cursor: pointer;
}

.preview-container {
    background-color: var(--surface-3) !important;
}

[page-style="dark"] .preview-container {
    background-color: var(--surface-1) !important;
}

.info-panel .preview-el {
    margin-bottom: 2rem;
}

.form-panel {
    background-color: var(--surface-1);
    border-radius: 15px;
    padding: 2rem;
}