@import url("../../core.css");
@import url("../../modules.css");

body {
    background-color: var(--surface-1);
}

.topic-heading, fieldset label {
    color: var(--text-color);
    font-weight: bold;
}

.field-heading, label {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
}

.topic-subheading {
    color: var(--text-color-2);
    font-size: 0.9rem;
}

.field-paragraph {
    color: var(--text-color-2);
    font-size: 0.95rem;
}

.bold {
    font-weight: bold;
}

#DeleteAccount {
    max-width: 45rem;
}

main {
    background-color: var(--surface-2);
    margin: 1rem auto;
    padding: 2rem;
    max-width: 70rem;
    border-radius: var(--border-rd-1);
    border: 1px solid var(--border-color);
}

.sidebar {
    background-color: var(--surface-2);
}

.account-pfp {
    height: 3rem;
    width: 3rem;
}

#settings-head {
    margin-bottom: 2rem;
    /*border-bottom: 1px solid var(--border-color);*/
}

#settings-header .topic-heading {
    font-size: 1.25rem;
    margin-bottom: 0.1rem;
}

.settings-headings {
    gap: 0.25rem;
    padding: 0.25rem 0 0 0;
}

.settings-area {
    display: grid;
    grid: [stack] 1fr / min-content [stack] 1fr;
    gap: 1rem;
}

.settings-menu {
    margin: 0;
    padding: 0 0.25rem 0.25rem 0;
    min-width: 15rem;
}

.settings-menu .selected {
    font-weight: bold;
}

.settings-menu > li {
    padding: 0.25rem;
}

.settings-content {
    width: 100%;
}

.settings-content fieldset {
    margin-bottom: 1rem;
}

fieldset label {
    margin-bottom: 0.5rem;
}


fieldset input {
    border: 2px solid var(--border-color);
    border-radius: var(--border-rd-2);
    padding: 0.6rem;
    width: 100%;
    background-color: var(--surface-1);
}

fieldset .sub-comment {
    color: var(--text-color-2);
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.nice-note {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--surface-3);
    color: var(--text-color);
}

.save-btn {
    margin-top: 1rem;
}

#view-fb-btn {
    width: 100%;
    margin-bottom: 1rem;
    display: none;
}


.dragndrop {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    cursor: pointer;
}

.drag-n-drop-box {
    width: 100%;
    color: var(--text-color);
    opacity: 0.7;
    border: 2px solid var(--border-color);
}

.drag-n-drop-literal-text {

}

.browse-text {
    font-weight: bold;
}

.form-input .add-file-icon {
    font-size: 1.25rem;
    margin-right: 0.25rem;
}

.fake-input {
    cursor: pointer;
    width: 100%;
}

.fake-container {
    padding: 1rem;
    color: var(--text-color-2);
    border-radius: var(--border-rd-1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.file-container {
    width: 100%;
    position: relative;
    height: 4rem;
    overflow: hidden;
    border-radius: var(--border-rd-1);
    border: 2px solid var(--border-color)
}

.file-container:hover, .file-container.drag-active {
    background-color: rgba(0,0,0,0.2);
}



.file-input.drag-active {
    opacity: 1;
}


.file-container .file-input {
    padding-left: 100%; /* Move it off screen to stop pointer events being overriden*/
    opacity: 0.01;
    height: 100%;
    width: 100%;
    cursor: pointer;
}


.image-upload-box-wrapper {
    display: flex;
    gap: 0.5rem;
}


.preview-container {
    background-color: var(--surface-3) !important;
}

#profileImageUpload {
    border: 2px solid var(--border-color);
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.spacer {
    margin-bottom: 1rem;
}

.spacer-x2 {
    margin-bottom: 2rem;
}

@media (max-width: 45rem) {

    #view-fb-btn {
        display: inline-block;
    }

    .settings-menu, .settings-content {
        grid-area: stack;
    }

    .sidebar {
        padding: 3rem 1rem;
        font-size: 1.5rem;
    }
    .sidebar menu {
        gap: 1rem;
    }

    .image-upload-box-wrapper {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.pro-ad {
    border-radius: var(--border-rd-1);
    background-image: url("../../../images/speedline.svg");
    background-size: cover;
    color: #121212;
    padding: 1rem;
}

.pro-ad:hover {
    color: #121212;
}

.pro-ad h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.pro-ad h3 span {
    color: var(--highlight-color);
}
.pro-ad p {
    font-size: 0.8rem;
}

.inline {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.inline input {
    width: auto;
}

.inline label {
    margin: 0;
}