@import url("../../core.css");
@import url("../../modules.css");
@import url("../../tags.css");

.results {
    background-color: var(--surface-1);
    text-align: center;
    padding: 5rem 1rem;
}

.results > * {
    max-width: 60rem;
    margin: auto;
}

.results-heading {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.results-sub {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.results-heading, .results-sub {
    color: var(--text-color);
}

.post-grid, .search-options {
    margin: 0 auto;
    padding: 3rem 5% 0 5%;
}

.search-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-results {
    background-color: var(--surface-2);
}