._modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    padding: 5rem;
    width: 40rem;
    height: 40rem;
    overflow-y: scroll;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    display: flex;
    flex-direction: column;
}

._modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.95);
    pointer-events: none;
    opacity: 0;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

@media (max-width: 800px) {
    ._modal {
        width: 100%;
        height: 100%;
    }
}