:root {
    --background-orange-gradient: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}


.pagination ul {
    background: white;
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.pagination ul li {
    list-style: none;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
    padding: 0.5rem;
}

.pagination ul li a {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
}


.pagination ul .active {
    background-image: var(--background-orange-gradient);
}

.pagination ul .active a {
    color: white;
}

.pagination ul li:hover {
    background-color: #eeeeee;
}