
packages:
  rpm:
    epel: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm

commands:
  01_install_certbot_packages:
    command: sudo yum -y install certbot-nginx
  02_generate_ssl:
    command: sudo certbot certonly --nginx -d thedevblog.co.uk -d www.thedevblog.co.uk --non-interactive --email harry@drummail.co.uk --agree-tos






#files:
#  /etc/pki/tls/certs/server.crt:
#    content: |
#      -----BEGIN CERTIFICATE-----
#      MIIEBzCCAu8CFAGLDaZ1AnjRol9+KZ1E4IpzwyTkMA0GCSqGSIb3DQEBCwUAMIG/
#      MQswCQYDVQQGEwJVSzEXMBUGA1UECAwOTGVpY2VzdGVyc2hpcmUxEjAQBgNVBAcM
#      CUxlaWNlc3RlcjEYMBYGA1UECgwPVmVzdWRhVHV0b3JpYWxzMSYwJAYDVQQLDB1W
#      ZXN1ZGFUdXRvcmlhbHMgS25vd2xlZGdlQmFzZTEcMBoGA1UEAwwTdmVzdWRhdHV0
#      b3JpYWxzLmNvbTEjMCEGCSqGSIb3DQEJARYUaGFycnlAZHJ1bW1haWwuY28udWsw
#      HhcNMjExMTIyMTQ1ODE4WhcNMjIxMTIyMTQ1ODE4WjCBvzELMAkGA1UEBhMCVUsx
#      FzAVBgNVBAgMDkxlaWNlc3RlcnNoaXJlMRIwEAYDVQQHDAlMZWljZXN0ZXIxGDAW
#      BgNVBAoMD1Zlc3VkYVR1dG9yaWFsczEmMCQGA1UECwwdVmVzdWRhVHV0b3JpYWxz
#      IEtub3dsZWRnZUJhc2UxHDAaBgNVBAMME3Zlc3VkYXR1dG9yaWFscy5jb20xIzAh
#      BgkqhkiG9w0BCQEWFGhhcnJ5QGRydW1tYWlsLmNvLnVrMIIBIjANBgkqhkiG9w0B
#      AQEFAAOCAQ8AMIIBCgKCAQEAuUlQIMTNdGN4H/C3aNnG2Mf/4w6sJXfvXswhrrs9
#      KTh2jR7vo5ECbjDjpLlhOkvVahVU4jJJWZMtqFOM37ErNqwtWrKMe1mXbdVHomse
#      d3eLGq3rIItoVD1Faw1L6yq/idS2pquo1sy+mp3ckGi/s3AV1I+isWNG/ElPbkNx
#      Rinhf+PZcnrrxIMzUBN5rz6LwU2UDjsdkOIdgR8k4zlvTnSvZzuKfnU4YufxM7+R
#      7SfST+3OUNXa+mfEZOfYm/kchlb+8vPlbRy/Tt2YkQpO2RTnNubOHKWApN25q5B6
#      CyAW0b5VByThR9+Rb6Jdr7/CwDV0ab9OW7QYJxdRDi9CZwIDAQABMA0GCSqGSIb3
#      DQEBCwUAA4IBAQBs8PIR2sbbVkvpYmC1Btx/jqkJCc+u3wdRyWxOr93XR+XdyiQO
#      8Elvvt+UzHQ/NH55Zu8YzxPhLJsjkpGvAcXWopMzWSBDLbWk1ZxA/4BQnMDCPvu2
#      lfr+fF9AjGwZAz05tUwRX2HBm0uBJEdZMX57cvZNL/f18YHKNzBZf6FdljEATL/l
#      0HxvybaGKOoVLWl/eUKjONY9eGoECW/y0y+zVW1XdTcFhRaXIgucR4DIsa5Swgor
#      Gu0BlkNwfUAsHve6vW8U4/ozwC531+003j8/j4EK0hdPdJiYELkwWZwIBw43M3V7
#      xCiJ6evXioPPT7cAOjInb1sIaahFBbd4Jbp1
#      -----END CERTIFICATE-----
#
#  /etc/pki/tls/certs/server.key:
#    content: |
#      -----BEGIN RSA PRIVATE KEY-----
#      MIIEpAIBAAKCAQEAuUlQIMTNdGN4H/C3aNnG2Mf/4w6sJXfvXswhrrs9KTh2jR7v
#      o5ECbjDjpLlhOkvVahVU4jJJWZMtqFOM37ErNqwtWrKMe1mXbdVHomsed3eLGq3r
#      IItoVD1Faw1L6yq/idS2pquo1sy+mp3ckGi/s3AV1I+isWNG/ElPbkNxRinhf+PZ
#      cnrrxIMzUBN5rz6LwU2UDjsdkOIdgR8k4zlvTnSvZzuKfnU4YufxM7+R7SfST+3O
#      UNXa+mfEZOfYm/kchlb+8vPlbRy/Tt2YkQpO2RTnNubOHKWApN25q5B6CyAW0b5V
#      ByThR9+Rb6Jdr7/CwDV0ab9OW7QYJxdRDi9CZwIDAQABAoIBAQCVspLHdtmbwEWs
#      YJp+XvzV5nhqJU+WEhlWWMyZ1HMsm47Eo4rvdtgk2OEDFDdmlyA8zjE/c2tpsIyB
#      48b8b7K/QEqAbaMsgYzj0x5GLg92bCH6EyvVpmxLKxmrzRlaTbZkkHRlomkN6mvQ
#      ldw+3DKNsfAhRU8nzFLsv/op1tls2kZvgg4hQ+rIdWHxKZUuwud9P36BvPGS1O44
#      UwgByNm9SBp44oS4D+y9gcqXyqpibFBdoPb/LieCcImV1rpJR/nbJEwDrfxeNxhF
#      YaySWxipUpiyxcTJqtB2S2lROyBcbVXlRghj8t+AMMp6UB+PXztBuAlsfAz0a9Qn
#      RSoxJqjZAoGBAOufO51/cHCOI5tLPNQZeDA+4vUVMVQVW3ypA338nDsPkihqAYNR
#      dhj9uHKTJlOBrmz3eL4NAeyjex2JFp6A5/RTDa5vkeNASBUe9QtznX39O3il7biD
#      eGQ1iyrZpgqFNsZ4mr/FBTxul2QaN7Au1K79DkjIelH8JGU1h3aAskvdAoGBAMlP
#      oP+IGowYBjmE8Ju17RVUu26EU+xI6FIi9bYbeCDD8zudMnVlzYcdcY6zSy85NnBu
#      nlwWzN0thgDPHpaynmHPzdAEi64E1upczhSo2VavZsJQSkwdKN2OpeXeQciqS4b6
#      nQV4X8Qp6ULWqeJdhzrXsx09K+VN0Yl+eMoPPJUTAoGBALL4vFuhlVKpZLpsp8Oj
#      pPtgiRwIAPQRVPCXoKNt4W2rIiW4f3WzxrSs5BGDXDVJ56e1Qe16C+AnPTjuDFRR
#      Ld8Txuycqn+nMBl67j7IjvRICYhW4P6qPiQ/13mw4MJU9YpDyaeoi5WfmzbaAzq8
#      F6jjZpo6TU9A6pRF2KNWlhexAoGAbk4pg5rKIRVQ49eKF2f5/oQtJ4NukLvqQIdT
#      Z3NpwVpdPr8F1PnxQiXKAU0Q11FcGQMj1oXPvymgkXTr59r7mdDJjz/OYY3ZTRWI
#      /hz+6da2Uaa47zfTGoN9N5UvKorVU6Kiw0qP/uaQH8WL1LM20/E4/b50/PJE7DfW
#      a7Epmu0CgYAgHeukWlj89WpyefjEc+Ewje6SPUgCPA6c+cdS/NZC0f7Rlcy/krZV
#      zZ/75R/xKZxqygubYkD6aK/2EjYaQGYhvR8i8oWk3aQAcapZH+GmYrcmpcI2DIDL
#      DkQolvB6EBEoPSAq1qZhQsoqxP8E9ibcImb8BshnN8fWS/ncvbk3Hw==
#      -----END RSA PRIVATE KEY-----
#
#container_commands:
#  01restart_nginx:
#    command: "service nginx restart"