header {
  margin-top: 5rem;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin: 0;
}

a, a.emphasis, a.secondary {
  transition: 0.3s all !important;
  text-decoration: none !important;
  color: #f45a2a;
}

a:hover, a.secondary:hover {
  color: #eb3c06;
}

a.emphasis:hover {
  letter-spacing: 2px;
  color: white;
}

a.emphasis,
a.secondary {

}


a.emphasis {
  border: none;
  border-radius: 40px;
  height: 70px;
  padding: 15px 20px;
  font-weight: 600;
  /*background-image: linear-gradient(to right, red, #f06d06);*/
  color: white;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}


a.secondary {
  border: none;
  background: none;
  font-weight: 250;
  color: black;
}



/**
Elements with code inside
 */
pre code {
  border-left: #eb3c06 solid 3px;
  border-radius: 4px 15px 15px 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  position: relative;
}

/*pre code:before {*/
/*  content: '';*/
/*  background:url('../../images/icons/copy-regular.svg');*/
/*  background-size:cover;*/
/*  position:absolute;*/
/*  width:20px;*/
/*  height:20px;*/
/*  top: 15px;*/
/*  right: 15px;*/
/*  transition: 0.3s all;*/
/*}*/

/*pre code:hover:before {*/
/*  cursor: pointer;*/
/*  background:url('../../images/icons/copy-solid.svg');*/
/*}*/

/*pre code:hover:after {*/
/*  content: "Copy";*/
/*  display: block;*/
/*  position: absolute;*/
/*  padding: 2px;*/
/*  top: 37px;*/
/*  right: 15px;*/
/*  color: white;*/
/*  background: black;*/
/*}*/

.tag a {
  color: #000;
}

@media (max-width: 786px) {

  footer .Copyright {
    text-align: center;
    margin-top: 50px;
  }
}


main {
  margin: 0px 0px;
}
main .container {
  display: flex;
  gap: 30px;
}

.KnowledgeBase .container {
  flex-direction: column;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}


footer {
  background: #323232;
  color: #fff;
  padding: 75px;
}
footer .Links {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 5px;
}
footer .Links a {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
footer .Copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgba(255,255,255,0.4);
  gap: 50px;
}
footer .Copyright p {
  margin: 0px;
}

mark {
  margin: 0;
  padding: 0;
}

mark.yellow {
  margin: 0 -0.2em;
  padding: 0.1em 0.3em;
  border-radius: 0.8em 0.3em;
  background: transparent linear-gradient(
          to right,
          rgba(255, 225, 0, 0.1),
          rgba(255, 225, 0, 0.7) 4%,
          rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

mark.low.orange {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #FFD0AE 65%);
}

mark.low.blue {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, powderblue 65%);
}

/*
CARDS
 */

.carde {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card__wrap--outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.card__wrap--inner {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  max-width: 400px;
  justify-content: center;
}

@media (max-width: 1000px) {
  /*.card__wrap--inner {*/
  /*  width: 70%;*/
  /*  margin: auto;*/
  /*}*/

  .carde img {
    max-height: 100px;
  }
}

.card-content {
  padding: 0 25px 0 25px;
}

.card-container {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  background-color: #e4e7ff;
}

.tag_line {
  text-align: left;
  padding-bottom: 20px;
}

.carde img {
  width: 100%;
  display: block;
  max-height: 200px;
}

/*Card Styling*/

.carde img {
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}

.carde {
  border-radius: 25px;
  background-color: white;
}

.card__wrap--inner {
  padding: 12px;
  transition: 0.3s all;
  /*margin: auto;*/
  object-fit: cover;
}

.card__wrap--inner:hover {
  transform: translateY(-10px);
}

.card__wrap__item {
  padding: 12px 18px 12px 18px;
}

.card__wrap__sub {
  padding: 0 18px;
}

.card__wrap__footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

.carde a.emphasis {
  width: 100%;
}

.card__header {
  padding-top: 20px;
  font-weight: bolder;
}

.card__footer {
  padding-bottom: 20px;
}

.top-articles h1 {
  font-weight: bolder;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {

  .top-articles {
    margin: 0 auto 0 auto;
  }

  .image-text {
    text-align: center;
    margin: auto;
    background-image: url("img/Work-risk-free.png");
    background-position: center;
    background-size: cover;
  }
}

.top-articles {
  background-color: #e4e7ff;
  text-align: center;
  margin: -100px auto 0 auto;
  padding-bottom: 50px;
}

form.SearchBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form.SearchBar input {
  box-sizing: border-box;
  width: 50%;
  border: none;
  padding: 15px 55px 15px 30px;
  border-radius: 100px;
  margin-right: -50px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 5%);
}
form.SearchBar button {
  background: #f45a2a;
  border: none;
  color: #fff;
  border-radius: 100px;
  padding: 8px;
}
form.SearchBar button:hover {
  background: #eb3c06;
  color: #fff;
}