<footer>
    <div class="container">

        <div class="FooterBlock">
            <div class="Links">
                <li><a th:href="@{/privacy}">Privacy Policy</a></li>
                <li><a th:href="@{/kb/view/contact-us}">Contact Us</a></li>
                <li><a th:href="@{/cookies}">Cookies Policy</a></li>
            </div>
            <div class="Copyright">
                <p>Developed By Harry0198</p>
                <p>Copyright &copy; Harry0198</p>
            </div>
        </div>

    </div>
</footer>