<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
    <title>Admin Panel - VesudaTutorials</title>
</head>
<body>
<div th:replace="fragments/core.html"></div>
<header style="margin-top: 8rem;">
    <h1>Article Creation Form</h1>
    <h2>New Article Creation</h2>
    <form th:action="@{/api/v1/components/article/submission/article}" method="post">
        <label for="title">Article Title</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="tagLine">Tag Line</label>
        <input type="text" id="tagLine" name="tagLine"><br><br>
        <input type="submit" value="Submit">
    </form>
    <h2>New Article Content Creation</h2>
    <form th:action="@{/api/v1/components/article/submission/content}" method="post">
        <label for="versionName">Version Name</label>
        <input type="text" id="versionName" name="version"><br><br>
        <label for="versionDescription">Version Description</label>
        <input type="text" id="versionDescription" name="versionDescription"><br><br>
        <label for="articleId">ArticleId</label>
        <input type="text" id="articleId" name="articleId"><br><br>
        <label for="content">Review of W3Schools:</label>
        <textarea id="content" name="content" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>

    <div th:each="article: ${articles}">
        <p>Article Title: <span th:text="${article.getTitle()}"></span> Id: <span th:text="${article.getId()}"></span></p>
    </div>
</header>

</body>
</html>