<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Post - TheDevBlog</title>
    <meta name=“description” content="Create a new post" />

    <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
    <link rel="stylesheet" th:href="@{/css/pages/parents/create-post.css}">

    <th:block th:replace="fragments/head-fragment :: bootstrap-js"></th:block>
    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

    <script type="module" th:src="@{/js/pages/create-post.js}"></script>
    <th:block th:replace="fragments/head-fragment :: scripts"></th:block>
</head>
<body>
<div th:replace="modules/navbar.html"></div>

<section class="dual-panel-container">
    <div class="info-panel">
        <h1 class="generic-title">Create a new post</h1>
        <p class="generic-subtitle">Time to show the world what you can do! Make sure you only share what you have the rights to!</p>
    </div>
    <div class="form-panel">
        <form id="form-carousel" class="carousel slide" data-bs-interval="false" data-bs-wrap="false" th:action="@{/api/post/new}" th:object="${postDTO}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="carousel-item active">
                <label for='title' class="generic-title">Give it a title.</label>
                <input id="title" name="title" type="text" class="form-input no-submit enter-next title-input" placeholder="Eg. Zombies are now in my mobile game!" maxlength="250" required>
            </div>

            <div class="carousel-item">
                <label for='imageUpload' class="generic-title">Add a photo or gif</label>
                <div class="image-upload-box-wrapper">
                    <image id="upload" class="card__image" th:src="@{/images/photos.png}"></image>
                    <div class="file-container">
                        <label for='imageUpload' class="form-input dragndrop fake-container">
                            <i class="fa-regular fa-square-plus"></i> Drag and drop or click to <span class="browse-text">browse</span>
                        </label>
                        <input class="file-input no-submit enter-next image-input" accept="image/*" id="imageUpload" type="file" name="image" capture="" required>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <label for='description' class="generic-title">Write a detailed description.</label>
                <textarea id="description" type="text" class="form-input description-input" name="description" placeholder="This project is..." maxlength="2500" required></textarea>
<!--                <p class="small-print text-align-right">Max 2000 characters</p>-->
            </div>
            <div class="carousel-item ">
                <p class="generic-title">All done? To post, ensure all fields are fully filled.</p>
                <button class="button" type="submit">Create Post</button>
            </div>

        </form>
        <div class="flow-nav-btns">
            <a href="#form-carousel" id="post-flow-back" role="button" data-bs-slide="prev"><i class="fa fa-arrow-left-long"></i> Back a step</a>
            <a href="#form-carousel" id="post-flow-next" role="button" data-bs-slide="next">Next step <i class="fa fa-arrow-right-long"></i></a>
        </div>
    </div>
</section>

<section class="dual-panel-container preview-container">
    <div class="info-panel no-pointer-events">
        <h2 class="generic-title">How it looks so far...</h2>
        <p class="generic-subtitle preview-el">Please be aware the image may be resized slightly upon posting</p>
        <th:block th:replace="modules/post-card :: post-card(post=${post})"></th:block>
    </div>
    <div class="form-panel no-pointer-events">
        <th:block th:replace="pages/view-post.html :: area"></th:block>
    </div>
</section>
<th:block th:replace="modules/footer.html"></th:block>
</body>
</html>