<!DOCTYPE html>
<html lang="en">
<head>
    <title>Content Creator Dashboard - VesudaTutorials</title>


    <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

    <link rel="stylesheet" th:href="@{/css/pages/imports/dashboard-home-imports.css}">
</head>
<body>

<div class="dashboard__container">

    <th:block th:replace="modules/dashboard-navigation :: navbars(activeNum=1)"></th:block>

   <div class="dashboard__body">
<!--       <div class="dashboard__module">-->
<!--           <div class="dashboard__module-header">-->
<!--               <h3 class="dashboard__module-title">Popular Posts</h3>-->
<!--               <div class="module__carousel-nav">-->
<!--                   <button id="article__popular-move-left"><i class="fa fa-chevron-left"></i></button>-->
<!--                   <button id="article__popular-move-right"><i class="fa fa-chevron-right"></i></button>-->
<!--               </div>-->
<!--           </div>-->
<!--&lt;!&ndash;           <div id="article__popular-cards" class="__carousel">&ndash;&gt;-->
<!--&lt;!&ndash;               <th:block th:each="post: ${posts}">&ndash;&gt;-->
<!--&lt;!&ndash;                   <th:block th:replace="modules/post-cards.html"></th:block>&ndash;&gt;-->
<!--&lt;!&ndash;               </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;           </div>&ndash;&gt;-->

<!--       </div>-->
<!--       <div class="dashboard__module">-->
<!--           <div class="dashboard__module-header">-->
<!--               <h3 class="dashboard__module-title">You may also like</h3>-->
<!--               <div class="module__carousel-nav">-->
<!--                   <button id="article__recommended-move-left"><i class="fa fa-chevron-left"></i></button>-->
<!--                   <button id="article__recommended-move-right"><i class="fa fa-chevron-right"></i></button>-->
<!--               </div>-->
<!--           </div>-->

<!--           <div id="article__recommended-cards" class="__carousel">-->
<!--               <th:block th:each="post: ${suggested_posts}">-->
<!--                   <th:block th:replace="modules/post-cards.html"></th:block>-->
<!--               </th:block>-->
<!--           </div>-->
       </div>
   </div>
</div>

</body>
</html>