<!DOCTYPE html>
<html lang="en">
<head>
  <title>Title</title>

  <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
  <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

  <link rel="stylesheet" th:href="@{/css/pages/imports/dashboard-saved-imports.css}">
</head>
<body>

<div class="dashboard__container">
  <th:block th:replace="modules/dashboard-navigation :: navbars(activeNum=2)"></th:block>

  <div class="dashboard__body">
    <h2 class="dashboard__module-title">Saved Posts</h2>
    <div class="card-layout">
      <th:block th:each="post: ${posts}">
        <th:block th:replace="modules/post-cards.html"></th:block>
      </th:block>
    </div>
    <th:block th:replace="modules/pagination :: pages (totalPages=3, page=2, sendTo='http://localhost:8080/user/dashboard/saved?page=')"></th:block>
  </div>
</div>

</body>
</html>