<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brand - Home</title>

    <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

    <link rel="stylesheet" th:href="@{/css/dev.css}">
</head>
<body page-style="light">
<div th:replace="modules/navbar.html"></div>

<header class="page-header">
    <section class="explore-navigation-container">
        <ul aria-label="Current page navigation" class="current-page-nav">
            <li><a th:href="@{/}" class="selectable selected">Popular</a></li>
            <li><a th:href="@{/}" class="selectable">Following</a></li>
            <li><a th:href="@{/}" class="selectable">Recent</a></li>
        </ul>
        <ul aria-label="Change current page layout navigation" class="current-page-layout-nav">
            <li><span title="Grid View" aria-label="Grid View" class="material-symbols-rounded selectable-bg selected">grid_view</span></li>
            <li><span title="Real Size View" aria-label="Real Size View" class="material-symbols-rounded selectable-bg">space_dashboard</span></li>
        </ul>
    </section>
</header>



<th:block th:replace="modules/footer.html"></th:block>
</body>
</html>