<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head-fragment :: generic(index=true)"></th:block>

    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/css/pages/parents/error.css}">

    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>
</head>
<body>



<main class="container-404">
    <div class="error404-card">
        <h1 class="hero-404">404 Error</h1>
        <p class="explain-404">Sorry! We couldn't find the page you're looking for! Try Search!</p>
        <div th:replace="modules/simple-search.html"></div>
        <a th:href="@{/}" class="secondary"><i class="fa-solid fa-angle-left back-icon"></i>Go Home</a>
    </div>

</main>

    <div th:replace="modules/footer.html"></div>
</body>
</html>