<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
  <title>Branding - Explore</title>
  <meta name=“description” content="Explore the content on ETC ETC TODO" />

  <div th:replace="fragments/head-fragment :: analytics"></div>

  <!-- More CSS -->
  <link rel="stylesheet" th:href="@{/css/pages/imports/explore-imports.css}">
</head>
<body>

<div th:replace="modules/navbar.html"></div>

<section class="results">
  <h1 class="results-heading">What's Hot 🔥</h1>
  <p class="results-sub">Top picks for the most viewed showcase this month!</p>
  <ul class="tags">
    <li><button>Tag</button></li>
    <li><button>Button</button></li>
    <li><button>Awesome</button></li>
    <li><button>Cool</button></li>
    <li><button>Sick</button></li>
    <li><button>Amazing</button></li>
    <li><button>Brilliant</button></li>

  </ul>

</section>

<section>
  <div class="search-options">
    <div class="dropdown__menu">
      <div class="dropdown__btn">
        <button>Popular</button>
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="list-box dropdown__options">
        <ul class="list-box-list">
          <li>Popular</li>
          <li>Recent</li>
          <li>Most Viewed</li>
          <hr>
          <li>Following</li>
        </ul>
      </div>
    </div>
    <th:block th:replace="modules/pagination.html :: pages (3, 1, 'http://localhost:8080/explore')"></th:block>
  </div>
  <div class="post-grid">
    <th:block th:each="post : ${posts}">
      <th:block th:replace="modules/post-card :: post-card(${post})"></th:block>
    </th:block>



    <div class="item item--1"></div>
    <div class="item item--2"></div>
    <div class="item item--3"></div>
    <div class="item item--4"></div>
    <div class="item item--5"></div>
    <div class="item item--6"></div>
    <div class="item item--7"></div>
    <div class="item item--8"></div>
  </div>
</section>
<th:block th:replace="modules/footer.html"></th:block>
</body>
</html>