<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Explore - TheDevBlog</title>
  <th:block th:replace="fragments/head-fragment :: generic(index=true)"></th:block>
  <link rel="stylesheet" th:href="@{/css/pages/parents/explore.css}">
  <meta name=“description” content="Explore content posted on TheDevBlog by top programmers. Get inspired from lots of creations!" />

  <link rel="canonical" href="https://www.thedevblog.co.uk/explore">
  <meta property="og:title" content="Explore Page" />
  <meta property="og:url" content="https://www.thedevblog.co.uk/explore" />
  <meta property="og:image" content="https://www.thedevblog.co.uk/images/icons/site-icon.png" />
  <meta property="og:description" content="Explore content posted on TheDevBlog by top programmers. Get inspired from lots of creations!" />


  <th:block th:replace="fragments/head-fragment :: analytics"></th:block>
  <th:block th:replace="fragments/head-fragment :: scripts"></th:block>
  <script type="module" th:src="@{/js/pages/explore.js}"></script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6787754437771899"
          crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="modules/navbar.html"></div>

<section class="results">
  <h1 class="results-heading" th:text="${title}">Top picks</h1>
  <p class="results-sub" th:text="${subtitle}">Top picks for the most viewed showcase this month!</p>
  <ul class="tags">
    <li><a th:href="@{/search(query=Unity)}">Unity</a></li>
    <li><a th:href="@{/search(query=Snippet)}">Snippet</a></li>
    <li><a th:href="@{/search(query=Challenge)}">Challenge</a></li>
    <li><a th:href="@{/search(query=Spring)}">Spring</a></li>
    <li><a th:href="@{/search(query=Java)}">Java</a></li>
    <li><a th:href="@{/search(query=Website)}">Website</a></li>
    <li><a th:href="@{/search(query=Robot)}">Robot</a></li>

  </ul>

</section>

<section class="search-results">
  <div class="search-options">
    <div class="dropdown__menu">
      <button class="button dropdown__btn">
        <th:block th:text="${title}">Popular</th:block>
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="list-box dropdown__options">
        <ul class="list-box-list">
          <li><a th:href="@{/explore}" class="selectable">What's Hot</a></li>
          <li><a th:href="@{/recent}" class="selectable">Recently Posted</a></li>
          <li><a th:href="@{/most-viewed}" class="selectable">Most Viewed</a></li>
          <hr>
        </ul>
      </div>
    </div>
    <th:block th:replace="modules/pagination.html :: pages (${posts.calcTotalPages()}, ${posts.getPageNum()}, ${#httpServletRequest.requestURI} + '?page=')"></th:block>
  </div>
  <div class="post-grid">
    <th:block th:if="${posts != null}" th:each="post : ${posts.getContent()}">
      <th:block th:replace="modules/post-card :: post-card(${post})"></th:block>
    </th:block>

    <div th:if="${posts == null || posts.getContent().size() < 1}" class="item item--1"></div>
    <div th:if="${posts == null || posts.getContent().size() < 2}" class="item item--2"></div>
    <div th:if="${posts == null || posts.getContent().size() < 3}" class="item item--3"></div>
    <div th:if="${posts == null || posts.getContent().size() < 4}" class="item item--4"></div>
    <div th:if="${posts == null || posts.getContent().size() < 5}" class="item item--5"></div>
    <div th:if="${posts == null || posts.getContent().size() < 6}" class="item item--6"></div>
    <div th:if="${posts == null || posts.getContent().size() < 7}" class="item item--7"></div>
    <div th:if="${posts == null || posts.getContent().size() < 8}" class="item item--8"></div>
  </div>
  <div class="search-options">
    <div class="dropdown__menu">
      <button class="button dropdown__btn">
        <th:block th:text="${title}">Popular</th:block>
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="list-box dropdown__options">
        <ul class="list-box-list">
          <li><a th:href="@{/explore}" class="selectable">What's Hot</a></li>
          <li><a th:href="@{/recent}" class="selectable">Recently Posted</a></li>
          <li><a th:href="@{/most-viewed}" class="selectable">Most Viewed</a></li>
          <hr>
        </ul>
      </div>
    </div>
    <th:block th:replace="modules/pagination.html :: pages (${posts.calcTotalPages()}, ${posts.getPageNum()}, ${#httpServletRequest.requestURI} + '?page=')"></th:block>
  </div>
</section>
<th:block th:replace="modules/footer.html"></th:block>
</body>
</html>