<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - TheDevBlog</title>
    <th:block th:replace="fragments/head-fragment :: generic(index=true)"></th:block>
    <link rel="stylesheet" th:href="@{/css/pages/parents/home.css}">

    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

    <th:block th:replace="fragments/head-fragment :: scripts"></th:block>
    <script type="module" th:src="@{/js/pages/home.js}"></script>

</head>
<body>


<div th:replace="modules/navbar.html"></div>

<section class="home__section" id="show-and-discover">
    <div class="home__section_content">
        <div class="home__sad_part">
            <h1 class="home__section_title">Showcase & discover exciting projects around the world.</h1>
            <p class="home__section_sub">Only 0.5% of people know how to code. Time to show off your skills and inspire others to join the top 0.5%</p>
            <button th:if="${user == null}" onclick="window.signUpDialog.showModal()" class="button-custom">Sign Up</button>
        </div>
        <div class="home__sad_img">
            <img th:src="@{images/characterz-people.png}"/>
        </div>
    </div>
</section>
<section id="show-off-projects">
    <div class="group vertical">
        <div>
            <h1>Show off your Projects 🥇</h1>
            <p class="home__section_sub">Get real feedback from real users on your latest projects and tasks. It’s as simple as making a post and letting the feedback roll in.</p>
            <a th:href="@{/explore}" class="button-custom">Explore</a>
        </div>
        <img th:src="@{/images/show-projects.png}">

    </div>
</section>
<section class="feature-format">
    <div class="group">
        <div>
            <span class="icon"><i class="fa fa-comment"></i></span>
            <span class="pre-title">OUR MISSION</span>
            <h2>Publish your work to the world</h2>
            <p>In our experience, the most important thing when developing new software and undertaking
                projects is the ability to show new people. Unfortunately, not everybody understands why what you've done is
                awesome!</p>
            <p>So join today and share your work with like minded individuals!</p>
        </div>
    </div>
</section>
<section class="feature-format">
    <div class="group">
        <div class="box-it">
            <span class="icon"><i class="fa fa-heart"></i></span>
            <span class="pre-title">LIKE, SAVE AND FOLLOW - COMING SOON</span>
            <h2>Express your love to creators</h2>
            <p>Making software is not easy. Why not show your favourite creators some
            well deserved gratitude and like their posts? By doing so, creators' posts
             rank higher and are exposed to more audiences!</p>
            <p>With TheDevBlog you can help inspire the next developer!</p>
        </div>
    </div>
</section>
<section class="feature-format">
    <div class="group">
        <div>
            <span class="icon"><i class="fa fa-star"></i></span>
            <span class="pre-title">GET INSPIRED</span>
            <h2>Fire up your imagination</h2>
            <p>With TheDevBlog, get inspired by lots of other developer's work and get first hand
            experience on what other developers thought worked well, and what didn't. All the tools you
            need to get that new project to its best.</p>
            <p>Let's <a th:href="@{/explore}" class="minor-custom">explore</a></p>
        </div>
    </div>
</section>
<!--</section>-->
<!--<section class="home__section" id="follow-creators">-->
<!--    <div class="home__section_content">-->
<!--        <div>-->
<!--            <h2 class="home__section_title">Follow your favourite creators</h2>-->
<!--            <p class="home__section_sub">Everybody likes recognition for their work. Follow creators, leave comments on their work and share to friends and family!</p>-->
<!--        </div>-->
<!--        <div class="home__dual-layout">-->
<!--            <div class="user_card">-->
<!--                <img class="user_card__author-img" th:src="@{images/Astronaut.png}">-->
<!--                <h3 class="user_card__author-text">Harry Drummond</h3>-->
<!--                <p class="user_card__author-bio">lorem ipsum dolar sit amet bio here with some sample text lorem ipsum was invented in</p>-->
<!--                <div class="user_card__preview">-->
<!--                    <img th:src="@{images/article-header-bg.jpg}">-->
<!--                    <img th:src="@{images/Work-risk-free.png}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="user_card">-->
<!--                <img class="user_card__author-img" th:src="@{images/Astronaut.png}">-->
<!--                <h3 class="user_card__author-text">Harry Drummond</h3>-->
<!--                <p class="user_card__author-bio">lorem ipsum dolar sit amet bio here with some sample text lorem ipsum was invented in</p>-->
<!--                <div class="user_card__preview">-->
<!--                    <img th:src="@{images/article-header-bg.jpg}">-->
<!--                    <img th:src="@{images/Work-risk-free.png}">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<th:block th:replace="modules/footer.html"></th:block>


</body>
</html>