<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head-fragment :: bootstrap-js"></th:block>

    <title>Brand - View Post</title>


    <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

    <link rel="stylesheet" th:href="@{/css/pages/imports/post-view-imports.css}">

</head>
<body>
<div th:replace="modules/navbar.html"></div>

<main>
    <section class="content">
        <th:block th:replace="modules/main-post :: main(post=${post})"></th:block>
    </section>
    <aside class="sidebar">
        <div class="flexing-row">
            <h2 class="generic-title feedback-title">Feedback</h2>
            <button class="emphasis-btn leave-feedback" type="button" data-bs-toggle="collapse" data-bs-target="#feedback-form" aria-expanded="false" aria-controls="feedback-form">Leave Feedback</button>
        </div>
        <form id="feedback-form" class="collapse">
            <label for="feedback-input" class="hidden">Feedback:</label>
            <textarea id="feedback-input" placeholder="Begin writing feedback..."></textarea>
            <button class="emphasis-btn">Post</button>
        </form>

        <div class="feedback-container">
            <div class="flexing-row">
                <div class="user__widget">
                    <img th:src="@{/images/pfp.jpeg}" class="user__widget_pfp">
                    <div>
                        <h3 class="user__widget_name">Harry Drummond</h3>
                        <div class="user__widget_interactables">
                            <p class="follow-btn"><i class="fa fa-user-plus"></i> <span class="follow-text">follow</span></p>
                            <p>24/02/2022</p>
                        </div>
                    </div>
                </div>
                <button class="user__widget_btn" type="button" data-bs-toggle="collapse" data-bs-target="#feedback-id-1" aria-expanded="false" aria-controls="feedback-id-1"><i class="fa fa-chevron-down user__widget_btn"></i></button>
            </div>
            <div id="feedback-id-1" class="collapse">
                <p class="feedback-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dignissimos exercitationem, nesciunt non quae quod.</p>
                <div class="feedback-actions">
                    <button class="edit-btn"><i class="fa fa-pen-to-square"></i> Edit</button>
                    <button class="delete-btn"><i class="fa fa-trash-can"></i> Delete</button>
                </div>
            </div>
        </div>
    </aside>
</main>

<th:block th:replace="modules/footer.html"></th:block>
</body>
</html>