<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head-fragment :: bootstrap-js"></th:block>

    <title>Brand - View Post</title>


    <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

    <link rel="stylesheet" th:href="@{/css/pages/imports/post-view-imports.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_post_id" th:content="${post.getId()}"/>

</head>
<body>
<div th:replace="modules/navbar.html"></div>

<main>
    <aside class="sidebar" id="sidebar">
        <div class="flexing-row">
            <h2 class="generic-title feedback-title">Feedback</h2>
            <button class="leave-feedback" type="button" data-bs-toggle="collapse" data-bs-target="#feedback-form" aria-expanded="false" aria-controls="feedback-form" onclick="window.PostFeedback.showModal()"><i class="submit-button fa fa-plus"></i></button>
        </div>
        <div class="no-feedback" th:if="${post.getComments().size() < 1}">
            <i class="fa-regular fa-face-frown"></i>
            <p class="no-feedback-p">Nobody has left any feedback yet :(</p>
        </div>

        <th:block th:each="comment : ${post.getComments()}">
            <div class="feedback-container">
                <div class="flexing-row">
                    <div class="user__widget">
                        <img th:src="@{/} + ${post.getPoster().getUserDetails().getProfilePicturePath()}" class="user__widget_pfp">
                        <div>
                            <h3 class="user__widget_name" th:text="${comment.getUser().getUsername()}">Harry Drummond</h3>
                            <div class="user__widget_interactables">
                                <p class="follow-btn"><i class="fa fa-user-plus"></i> <span class="follow-text">follow</span></p>
                                <p th:text="${comment.getFormattedDate()}">24/02/2022</p>
                            </div>
                        </div>
                    </div>
                    <button class="user__widget_btn selectable-bg" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#feedback-id-' + ${comment.getId()},aria-controls='feedback-id-' + ${comment.getId()}" aria-expanded="false" aria-label="View Comment and Tools"><i class="fa fa-chevron-down user__widget_btn"></i></button>
                </div>
                <div th:id="'feedback-id-' + ${comment.getId()}" class="collapse">
                    <p class="feedback-p" th:text="${comment.getComment()}" th:attr="data-feedback-edit-target=${comment.getId()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dignissimos exercitationem, nesciunt non quae quod.</p>
                    <div th:if="${user != null}" class="feedback-actions">
                        <button class="edit-btn selectable" th:if="${user.getId().equals(comment.getUser().getId())}" th:attr="data-feedback-edit=${comment.getId()}"><i class="fa fa-pen-to-square"></i> Edit</button>
                        <button class="delete-btn destructive-button" th:if="${user.getId().equals(post.getId()) || user.getId().equals(comment.getUser().getId())}" th:attr="data-feedback-delete-id=${comment.getId()}"><i class="fa fa-trash-can"></i> Delete</button>
                    </div>
                </div>
            </div>
        </th:block>
    </aside>
    <section class="content">
        <th:block th:replace="modules/main-post :: main(post=${post})"></th:block>
        <button id="view-fb-btn" class="button button-custom">View Feedback</button>
    </section>
</main>

<dialog id="PostEditFeedback" inert loading modal-mode="mega" class="styled">
    <form method="dialog">
        <header>
            <section class="icon-headline">
                <i class="fa fa-comment icon-icon"></i>
                <p>Let's edit your feedback</p>
            </section>
        </header>
        <article>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <label type="hidden" for="feedback-edit-input" class="hidden">Feedback:</label>
            <textarea id="feedback-edit-input" placeholder="Begin writing feedback..." name="comment" minlength="12"></textarea>
            <menu class="menu-btns">
                <button autofocus class="button" type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
                <button type="submit" id="edit-feedback-btn" value="confirm" class="button button-custom">Update</button>
            </menu>
        </article>
    </form>
</dialog>

<dialog id="PostFeedback" inert loading modal-mode="mega" class="styled">
    <form method="dialog">
        <header>
            <section class="icon-headline">
                <i class="fa fa-comment icon-icon"></i>
                <p>Let's leave some feedback.</p>
            </section>
        </header>
        <article>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <label type="hidden" for="feedback-input" class="hidden">Feedback:</label>
            <textarea id="feedback-input" placeholder="Begin writing feedback..." name="comment" minlength="12"></textarea>
            <menu class="menu-btns">
                <button autofocus class="button" type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
                <button type="submit" id="feedback-btn" value="confirm" class="button button-custom">Post Feedback</button>
            </menu>
        </article>
    </form>
</dialog>

<dialog id="DeleteConfirmation" inert loading modal-mode="mega" class="styled">
    <form method="dialog">
        <header>
            <section class="icon-headline">
                <i class="fa fa-trash-can icon-icon"></i>
                <p>Are you sure you want to delete this feedback?</p>
            </section>
            <!--        <button onclick="this.closest('dialog').close('close')" type="button" title="Close dialog">-->
<!--            <title>Close dialog icon</title>-->
<!--            <svg width="24" height="24" viewBox="0 0 24 24">-->
<!--                <line x1="18" y1="6" x2="6" y2="18"/>-->
<!--                <line x1="6" y1="6" x2="18" y2="18"/>-->
<!--            </svg>-->
<!--            </button>-->
        </header>
        <article>
            <menu class="menu-btns">
                <button autofocus class="button" type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
                <button type="submit" value="confirm" class="destructive-button">Delete Feedback</button>
            </menu>
        </article>
    </form>
</dialog>

<th:block th:replace="modules/footer.html"></th:block>


</body>
</html>