<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
  <title>VesudaTutorials - Search</title>
  <meta name=“description” content="Search the KnowledgeBase for tutorials and topics covered by VesudaTutorials" />

<!--  &lt;!&ndash; BOOTSTRAP CSS only &ndash;&gt;-->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->


  <div th:replace="fragments/head-fragment :: analytics"></div>

  <!-- Page Specific CSS -->
  <link rel="stylesheet" th:href="@{/css/searchpage.css}">
  <link rel="stylesheet" th:href="@{/css/pagination-footer.css}">
</head>
<body>

<div th:replace="fragments/core.html"></div>

<header></header>

<main class="KnowledgeBase">
  <div class="container">
    <div class="InfoBlock">
      <div class="Greetings">
        <p th:if="${query == null || query.isEmpty()}">Search for Articles</p>
        <p th:unless="${query == null || query.isEmpty()}">Articles for: <span th:text="${query}">Query</span></p>
      </div>
      <div th:replace="fragments/search.html"></div>
    </div>
  </div>

    <section class="top-articles">
      <div th:switch="${resultsSize > 0}">
        <div th:case="true">
          <div class="ResultsInfo" th:inline="text">Results found: [[${resultsSize}]]</div>
          <div th:replace="fragments/card-layout.html :: card(kbs=${kbs})"></div>
          <div th:if="${totalPages > 1}" class="page-select">
            <div th:replace="fragments/pagination :: pages (totalPages=${totalPages}, page=${page}, sendTo=@{/search}+'?query='+${query})"></div>
          </div>
        </div>
        <div th:case="false">
          <div class="container">
            <h3 class="card-segment-header">Top Articles</h3>
            <div th:replace="fragments/card-layout.html :: card(kbs=${topArticles})"></div>
          </div>
          <div class="container">
            <h3 class="card-segment-header">Recent Articles</h3>
            <div th:replace="fragments/card-layout.html :: card(kbs=${recentArticles})"></div>
          </div>
        </div>
      </div>
    </section>
</main>

<div th:replace="fragments/footer :: footer"></div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>