<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brand - Search</title>


  <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
  <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

  <link rel="stylesheet" th:href="@{/css/pages/imports/search-imports.css}">

</head>
<body>
<div th:replace="modules/navbar.html"></div>

<section class="results">
  <div class="search__with_dropdown">
    <form class="search__input_form">
      <input class="search__field" type="text" placeholder="Search..."/>
      <button class="search__btn" type="submit"><i class="fa fa-magnifying-glass search-btn-icon"></i></button>
    </form>

  </div>
  <h1 class="results-heading">Example Search</h1>
  <p class="results-sub">1,248 results found</p>

</section>

<section>
  <div class="search-options">
    <div class="dropdown__menu">
      <div class="dropdown__btn">
        <button>Posts</button>
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="list-box dropdown__options">
        <ul class="list-box-list">
          <li>Posts</li>
          <li>People</li>
        </ul>
      </div>
    </div>
    <th:block th:replace="modules/pagination.html :: pages (3, 1, 'http://localhost:8080/explore')"></th:block>
  </div>
  <div class="post-grid">
    <th:block th:replace="modules/post-card :: post(post-card=${post})"></th:block>



    <div class="item item--1"></div>
    <div class="item item--2"></div>
    <div class="item item--3"></div>
    <div class="item item--4"></div>
    <div class="item item--5"></div>
    <div class="item item--6"></div>
    <div class="item item--7"></div>
    <div class="item item--8"></div>
  </div>
</section>


<th:block th:replace="modules/footer.html"></th:block>

</body>
</html>