<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brand - Search</title>


  <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
  <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

  <link rel="stylesheet" th:href="@{/css/pages/imports/search-imports.css}">
  <script type="module" th:src="@{/js/pages/explore.js}"></script>
</head>
<body>
<div th:replace="modules/navbar.html"></div>

<section class="results">
  <div class="search__with_dropdown">
    <form class="search__input_form" th:action="@{/search}" method="get" name="page-search">
      <input class="search__field" name="query" type="text" placeholder="Search..." maxlength="60"/>
      <button class="search__btn" type="submit"><i class="fa fa-magnifying-glass search-btn-icon"></i></button>
    </form>

  </div>
  <h1 th:if="${query == null}" class="results-heading">Let's make a search.</h1>
  <h1 th:unless="${query == null}" th:text="${query}" class="results-heading"></h1>

  <p th:if="${query == null}" class="results-sub">Find inspiring content from all over the world!</p>
  <p th:unless="${query == null}" th:text="${posts.getTotalHits() + ' result(s) found!'}" class="results-sub">Find inspiring content from all over the world!</p>


</section>

<section>
  <div class="search-options">
    <div class="dropdown__menu">
      <div class="dropdown__btn">
        <button>Posts</button>
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="list-box dropdown__options">
        <ul class="list-box-list">
          <li>Posts</li>
          <li>People</li>
        </ul>
      </div>
    </div>
    <th:block th:replace="modules/pagination.html :: pages (${posts.calcTotalPages()}, ${posts.getPageNum()}, ${#httpServletRequest.requestURI} + ${uriForPageParams})"></th:block>
  </div>
  <div class="post-grid">
    <th:block th:if="${posts != null}" th:each="post : ${posts.getContent()}">
      <th:block th:replace="modules/post-card :: post-card(${post})"></th:block>
    </th:block>



    <div th:if="${posts == null || posts.getContent().size() < 1}" class="item item--1"></div>
    <div th:if="${posts == null || posts.getContent().size() < 2}" class="item item--2"></div>
    <div th:if="${posts == null || posts.getContent().size() < 3}" class="item item--3"></div>
    <div th:if="${posts == null || posts.getContent().size() < 4}" class="item item--4"></div>
    <div th:if="${posts == null || posts.getContent().size() < 5}" class="item item--5"></div>
    <div th:if="${posts == null || posts.getContent().size() < 6}" class="item item--6"></div>
    <div th:if="${posts == null || posts.getContent().size() < 7}" class="item item--7"></div>
    <div th:if="${posts == null || posts.getContent().size() < 8}" class="item item--8"></div>
  </div>
  <div class="search-options">
    <div class="dropdown__menu">
      <div class="dropdown__btn">
        <button>Posts</button>
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="list-box dropdown__options">
        <ul class="list-box-list">
          <li>Posts</li>
          <li>People</li>
        </ul>
      </div>
    </div>
    <th:block th:replace="modules/pagination.html :: pages (${posts.calcTotalPages()}, ${page}, ${#httpServletRequest.requestURI} + ${uriForPageParams})"></th:block>
  </div>
</section>


<th:block th:replace="modules/footer.html"></th:block>

</body>
</html>