<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments/head-fragment :: generic(index=true)"></th:block>
    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>
    <link rel="stylesheet" th:href="@{/css/modules/login.css}">
    <link rel="stylesheet" th:href="@{/css/libraries/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/libraries/vesuda.css}">

    <title>Sign In - VesudaTutorials</title>
</head>
<body>
    <th:block th:replace="modules/login :: login(closeable=false)"></th:block>
</body>
</html>