<!DOCTYPE html>
<html lang="en">
<head>
  <title>SignUp - TheDevBlog</title>

  <th:block th:replace="fragments/head-fragment :: generic(index=true)"></th:block>
  <link rel="stylesheet" th:href="@{/css/pages/parents/home.css}">


  <th:block th:replace="fragments/head-fragment :: scripts"></th:block>
  <th:block th:replace="fragments/head-fragment :: analytics"></th:block>


  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let signUpModal = document.getElementById('signUpDialog');
      signUpModal.showModal();
    })
  </script>

  <script type="module" th:src="@{/js/pages/home.js}"></script>

</head>
<body th:replace="pages/home.html :: body">
</body>
</html>