<!DOCTYPE html>
<html lang="en">
<head>
    <title>Content Creator Dashboard - VesudaTutorials</title>


    <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
    <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

    <link rel="stylesheet" th:href="@{/css/pages/imports/user-dashboard-imports.css}">
</head>
<body>

<div class="dashboard__container">

    <th:block th:replace="modules/dashboard-navigation :: navbars(activeNum=1)"></th:block>

   <div class="dashboard__body">
       <div class="article__popular-module">
           <div class="article__popular-header">
               <h3 class="article__module-title ">Popular Posts</h3>
               <div class="article__popular-btns">
                   <button id="article__popular-move-left"><i class="fa fa-chevron-left"></i></button>
                   <button id="article__popular-move-right"><i class="fa fa-chevron-right"></i></button>
               </div>
           </div>
           <div id="article__popular-cards" class="__carousel">
               <th:block th:each="article: ${articles}">
                   <th:block th:replace="modules/article-cards.html"></th:block>
               </th:block>
           </div>

       </div>

       <div class="write__module">
           <h3 class="write__heading">We want your Knowledge.</h3>
           <p class="write_subtext">On our website, knowledge is power! We want you to share your insights on developer topics to help and inspire people! It's as easy as pressing a button.</p>
           <a class="write_link">Lets get Started <i class="fa fa-feather-pointed"></i></a>
       </div>
       <div class="article__recommended-module">
           <div class="article__popular-header">
               <h3 class="article__module-title ">You may also like</h3>
               <div class="article__popular-btns">
                   <button id="article__recommended-move-left"><i class="fa fa-chevron-left"></i></button>
                   <button id="article__recommended-move-right"><i class="fa fa-chevron-right"></i></button>
               </div>
           </div>

           <div id="article__recommended-cards" class="__carousel">
               <th:block th:each="article: ${suggested_articles}">
                   <th:block th:replace="modules/article-cards.html"></th:block>
               </th:block>
           </div>
       </div>
   </div>
</div>

</body>
</html>