<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brand - View Post</title>

  <th:block th:replace="fragments/head-fragment :: generic(index=true)"></th:block>
  <link rel="stylesheet" th:href="@{/css/pages/parents/view-post.css}">
  <meta name="_post_id" th:content="${post.getId()}"/>
  <meta name="description" th:content="${post.getDescription()}">

  <link rel="canonical" th:href="${'https://www.thedevblog.co.uk/' + 'post/view/' + post.getId()}">
  <meta property="og:title" th:content="${post.getTitle()}" />
  <meta property="og:url" th:content="${'https://www.thedevblog.co.uk/' + 'post/view/' + post.getId()}" />
  <meta property="og:image" th:content="${'https://www.thedevblog.co.uk/uploads/' + post.getImages()[0]}" />
  <meta property="og:description" th:content="${post.getDescription()}" />


  <th:block th:replace="fragments/head-fragment :: scripts"></th:block>
  <th:block th:replace="fragments/head-fragment :: bootstrap-js"></th:block>
  <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

  <script type="module" th:src="@{/js/pages/view-post.js}"></script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6787754437771899"
          crossorigin="anonymous"></script>
</head>
<body>
  <div th:replace="modules/navbar.html"></div>

  <main>
    <article class="post-area">
      <section class="media-container" th:fragment="area">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            <th:block th:each="image : ${post.getImages()}">
              <img th:style="'order: ' + ${image.getOrderNo()} + ';'" class="carousel-item image card__image" th:classappend="${image.getOrderNo() == 0 ? 'active' : ''}" th:src="@{/uploads/} + ${image.getPath()}"  alt="Provided Image">
            </th:block>


          </div>
          <th:block th:unless="${post.getImages().size() <= 1}">
            <button class="carousel-btn button left" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-btn button right" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
              <span class="visually-hidden">Next</span>
            </button>
          </th:block>
          <div class="indicators" th:if="${post.getImages().size() >= 1}">
            <th:block th:each="i: ${#numbers.sequence(0, post.getImages().size() - 1)}">
              <button type="button" th:style="'order: ' + ${post.getImages()[i].getOrderNo()} + ';'" data-bs-target="#carouselExampleIndicators" th:attr="data-bs-slide-to=${i}" aria-label="Slide 3">
                <img th:src="@{/uploads/} + ${post.getImages()[i].getPath()}" class="card__image" alt="Provided Image">
              </button>
            </th:block>
          </div>
        </div>
      </section>

      <aside class="aside">
        <div class="group close start no-media">
          <img class="author-pfp account-pfp" th:src="@{/uploads/} + ${post.getPoster().getUserDetails().getProfilePicturePath()}" alt="Account Profile Picture">
          <div class="group close start vertical no-gap">
            <p>
              <span th:text="${post.getPoster().getUsername()}" rel="author" class="author">Harry Drummond</span>
<!--              <span class="lite">Lite</span>-->
            </p>
            <p class="profile-link" th:if="${post.getPoster().getUserDetails().getLink() == null}" th:text="${post.getFormattedDate()}"></p>
            <a class="profile-link user-link" th:unless="${post.getPoster().getUserDetails().getLink() == null}" th:text="${post.getPoster().getUserDetails().getLink()}"></a>
          </div>
        </div>
        <p class="post-desc" th:text="${post.getDescription()}">Post desc</p>
          <div class="poster-actions">
            <button class="selectable" th:unless="${user != null and post.getPoster().getId().equals(user.getId())}" onclick="window.ContactModal.showModal()">Report</button>
            <a th:href="@{/post/edit/} + ${post.getId()}" th:if="${user != null and post.getPoster().getId().equals(user.getId())}" class="selectable">Edit</a>
            <button th:if="${user != null and (post.getPoster().getId().equals(user.getId()))}" id="delete-post-btn" class="selectable">Delete Post</button>
          </div>

        <div class="feedback">
          <h3 class="feedback-collapse" th:if="${post.getComments().size() > 0}">Feedback</h3>
          <th:block th:each="feedback : ${post.getComments()}">
            <div class="group close start no-media">
              <img class="comment-pfp account-pfp" th:src="@{/uploads/} + ${feedback.getUser().getUserDetails().getProfilePicturePath()}">
              <div>
                <div>
                  <span class="feedback-username" th:text="${feedback.getUser().getUsername()}">Username</span>
                  <comment th:attr="data-feedback-edit-target=${feedback.getId()}" th:text="${feedback.getComment()}"></comment>
                </div>
                <div class="feedback-actions">
                  <button class="selectable" th:unless="${user != null and feedback.getUser().getId().equals(user.getId())}" onclick="window.ContactModal.showModal()">Report</button>
                  <button class="selectable" th:if="${user != null and feedback.getUser().getId().equals(user.getId())}" th:attr="data-feedback-edit=${feedback.getId()}">Edit</button>
                  <button class="selectable" th:if="${user != null and (feedback.getUser().getId().equals(user.getId()) or post.getPoster().getId().equals(user.getId()))}" th:attr="data-feedback-delete-id=${feedback.getId()}">Delete</button>
                </div>
              </div>
            </div>
          </th:block>
        </div>

        <div class="actions-container">
          <div class="post-actions">
<!--            <button id="like-btn" th:attr="data-use=${user == null ? 'false' : 'true'}, data-liked=${liked}"><i class="fa-solid fa-heart"></i> <span th:text="${post.getLikes().size()}">10</span></button>-->
            <button><i class="fa-solid fa-eye"></i> <span th:text="${post.getViews()}"></span></button>
            <button id="share-btn"><i class="fa-solid fa-share"></i></button>
          </div>
          <div class="group close feedback-container no-media">
            <img class="author-pfp account-pfp" th:unless="${user == null}" th:src="@{/uploads/} + ${user.getUserDetails().getProfilePicturePath()}" alt="Account Profile Picture">
            <img class="author-pfp account-pfp" th:if="${user == null}" th:src="@{/images/default-pfp.png}" alt="Default Profile Picture">
            <form id="post-feedback-form" class="fake-form" th:attr="data-require-signin=${user == null ? 'true' : ''}">
              <label class="visually-hidden" for="post-feedback-input">Give feedback:</label>
              <input class="feedback-field" id="post-feedback-input" type="text" name="" placeholder="Leave feedback..." minlength="12" maxlength="1500"/>
              <button class="minor-custom">
                <i class="fa-solid fa-arrow-right"></i>
                <span class="visually-hidden">Post</span>
              </button>
            </form>
          </div>
        </div>
      </aside>
    </article>

  </main>

  <dialog id="UnsafeLink" inert loading modal-mode="mega" class="styled">
    <form method="dialog">
      <header>
        <section class="icon-headline">
          <i class="fa fa-triangle-exclamation icon-icon"></i>
          <p>Links can be dangerous!</p>
        </section>
      </header>
      <article>
        <p>
          Before you proceed, please be aware that not all user links are safe! If you do not recognise the following site or the
           link looks odd, do not proceed. By proceeding you are taking liability of any damages should they occur.
        </p>
        <p id="UnsafeLink-text">Link</p>
        <menu class="menu-btns">
          <button autofocus class="button" type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
          <a id="link-proceed" class="button destructive-button" target="_blank" rel="noopener noreferrer" href="#">Proceed</a>
        </menu>
      </article>
    </form>
  </dialog>

  <dialog th:if="${user != null}" id="PostEditFeedback" inert loading modal-mode="mega" class="styled">
    <form method="dialog">
      <header>
        <section class="icon-headline">
          <i class="fa fa-comment icon-icon"></i>
          <p>Let's edit your feedback</p>
        </section>
      </header>
      <article>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <label type="hidden" for="feedback-edit-input" class="hidden">Feedback:</label>
        <textarea id="feedback-edit-input" placeholder="Begin writing feedback..." name="comment" minlength="12" maxlength="1500"></textarea>
        <menu class="menu-btns">
          <button autofocus class="button" type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
          <button type="submit" id="edit-feedback-btn" value="confirm" class="button button-custom">Update</button>
        </menu>
      </article>
    </form>
  </dialog>

  <dialog th:if="${user != null}" id="DeleteConfirmation" inert loading modal-mode="mega" class="styled">
    <form method="dialog">
      <header>
        <section class="icon-headline">
          <i class="fa fa-trash-can icon-icon"></i>
          <p>Are you sure you want to delete this feedback?</p>
        </section>
      </header>
      <article>
        <menu class="menu-btns">
          <button autofocus class="button" type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
          <button type="submit" value="confirm" class="destructive-button">Delete Feedback</button>
        </menu>
      </article>
    </form>
  </dialog>

  <dialog th:if="${user != null}" id="DeletePostConfirmation" inert loading modal-mode="mega" class="styled">
    <form method="dialog">
      <header>
        <section class="icon-headline">
          <i class="fa fa-trash-can icon-icon"></i>
          <p>Are you sure you want to delete this post?</p>
        </section>
      </header>
      <article>
        <menu class="menu-btns">
          <button autofocus class="button" type="button" onclick="this.closest('dialog').close('cancel')">Cancel</button>
          <button type="submit" value="confirm" class="destructive-button">Delete Post</button>
        </menu>
      </article>
    </form>
  </dialog>

  <th:block th:replace="modules/footer.html"></th:block>

</body>
</html>