/*
Modules CSS File.
This file is used on some/most pages and is required for module functionality

# Sections
    # Cards
    # Simple search bar
    # Pagination
 */

:root {
    --background-orange-gradient: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

/* Simple Search bar */

.search__container {
    min-width: 6rem;
}

.search__container, .search__container form, .search__container form input {
    position: relative;
    width: 100%;
    height: 100%;
}

.search__container .search__field {
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

.search__container .search__btn {
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
}

.search__container .search__btn .search-btn-icon {
    color: var(--site-text-grey-color);
}


/* Pagination */


.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: revert;
}

.pagination ul li {
    list-style: none;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.25rem;
    padding: 0.25rem;
}

.pagination ul li a {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;

    text-decoration: none;
}


.pagination ul .active, .pagination ul .active:hover {
    background-color: var(--bg-color-dark);
}

.pagination ul .active a {
    color: white;
}

.pagination ul li:hover {
    background-color: var(--bg-color);
}

.pagination ul li:hover a {
    font-weight: bold;
    color: var(--text-color);
}

.pagination ul li.active:hover a {
    color: white;
    font-weight: normal;
}



.tags {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}

.tags > * > * {
    padding: 0.1rem 0.75rem;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.tags > * {
    background-color: var(--text-color);
    border-radius: 2px;
}

.tags * {
    list-style: none;
    margin: 0;
    font-weight: 300;
}

.tags > *:hover > * {
    transform: translateY(-2px);
}

.post-grid {
    gap: 2rem;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, minmax(300px, min-content));
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(250px, min-content)
}
/*.post-grid > * {*/
/*    padding: 10px;*/
/*    color: white;*/
/*    background-color: orangered;*/
/*}*/
.post-grid .item--1 {
    background-color: orangered;
}
.post-grid .item--2 {
    background-color: yellowgreen;
}
.post-grid .item--3 {
    background-color: blueviolet;
}
.post-grid .item--4 {
    background-color: palevioletred;
}
.post-grid .item--5 {
    background-color: royalblue;
}
.post-grid .item--6 {
    background-color: goldenrod;
}
.post-grid .item--7 {
    background-color: crimson;
}
.post-grid .item--8 {
    background-color: darkslategray;
}


.card__container {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.25);
    overflow: clip;
    position: relative;
    cursor: pointer;
}

.card__header {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    height: 4rem;
    color: black;
    background-color: white;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding: 1rem;
}

.card__header .account-pfp {
    width: 2.75rem;
    height: 2.75rem;
}


.card__header_content {
    overflow: hidden;
}

.card__header .card__title a {
    text-decoration: none;
}

.card__header .card__title a:hover {
    color: black;
}

.card__header .card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.card__header .card__sub {
    font-size: 0.75rem;
    font-weight: 300;
}

.card__body {
    position: relative;
    height: 100%;
}

.card__body img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__stats {
    position: absolute;
    padding: 0.5rem 1rem;
    min-height: 2.5rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(80,80,83,1) 0%, rgba(255,255,255,0) 100%);
}

.card__stats > * {
    padding: 0.2rem;
    color: white;
}

.card__stats > p:first-child {
    margin-right: auto;
}

.dropdown__btn {
    max-width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
    gap: 0.25rem;
    border: 1px solid rgba(0,0,0,0.25);
}



.dropdown__btn > * {
    color: rgba(0,0,0,0.5);
}

.dropdown__options {
    top: 100%;
    left: 0;
    padding: 0.5rem 1rem;
}

.dropdown__menu.open .dropdown__options {
    visibility: visible !important;
    opacity: 1 !important;
}

.dropdown__menu {
    position: relative;
    z-index: 90;
    cursor: pointer;
}

.dropdown__menu.open .dropdown__btn > * {
    color: black;
}