/*
Modules CSS File.
This file is used on some/most pages and is required for module functionality

# Sections
    # Cards
    # Simple search bar
    # Pagination
 */

:root {
    --background-orange-gradient: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

/* Simple Search bar */

.search__container {
    min-width: 6rem;
}

.search__container, .search__container form, .search__container form input {
    position: relative;
    width: 100%;
    height: 100%;
}

.search__container .search__field {
    background-color: var(--surface-1);
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

.search__container .search__btn {
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
}

.search__container .search__btn .search-btn-icon {
    color: var(--text-color-2);
}


/* Pagination */


.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: revert;
}

.pagination ul li {
    list-style: none;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--surface-3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.25rem;
    padding: 0.25rem;
}

.pagination ul li.dots {
    border: none !important;
    background-color: transparent !important;
}

.pagination ul li a {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;

    text-decoration: none;
}


.pagination ul .active, .pagination ul .active:hover {
    background-color: var(--surface-selected);
}

.pagination ul .active a {
    color: var(--text-color);
}

.pagination ul li:hover {
    background-color: var(--surface-selected);
}

.pagination ul li:hover a {
    font-weight: bold;
    color: var(--text-color);
}

.pagination ul li.active:hover a {
    color: var(--text-color);
    font-weight: normal;
}


.post-grid {
    gap: 2rem;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
}
/*.post-grid > * {*/
/*    padding: 10px;*/
/*    color: white;*/
/*    background-color: orangered;*/
/*}*/
.post-grid .item--1 {
    background-color: orangered;
}
.post-grid .item--2 {
    background-color: yellowgreen;
}
.post-grid .item--3 {
    background-color: blueviolet;
}
.post-grid .item--4 {
    background-color: palevioletred;
}
.post-grid .item--5 {
    background-color: royalblue;
}
.post-grid .item--6 {
    background-color: goldenrod;
}
.post-grid .item--7 {
    background-color: crimson;
}
.post-grid .item--8 {
    background-color: darkslategray;
}


.card__container {
    background-color: var(--surface-3);
    border-radius: var(--border-rd-3);
    border: 1px solid var(--border-color);
    overflow: hidden;
    position: relative;
}

.card__header {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    height: 4rem;
    color: black;
    background-color: var(--surface-2);
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding: 1rem;
}

.card__image {
    cursor: pointer;
}

.card__header .account-pfp {
    width: 2.75rem;
    height: 2.75rem;
}


.card__header_content {
    overflow: hidden;
}

.card__header .card__title a {
    text-decoration: none;
}

.card__header .card__title a:hover {
    color: black;
}

.card__header .card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.card__header .card__sub {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--text-color-2);
}

.card__body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.card__body img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}

.card__body img:hover {
    transform: scale(1.1);
}

.card__stats {
    position: absolute;
    padding: 0.5rem 1rem;
    min-height: 2.5rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(80,80,83,1) 0%, rgba(255,255,255,0) 100%);
}

.card__stats > * {
    padding: 0.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.card__stats > p:first-child {
    margin-right: auto;
}

.dropdown__btn {
    max-width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--surface-2);
    border-radius: 5px;
    gap: 0.25rem;
    border: 1px solid rgba(0,0,0,0.25);
    color: var(--text-color-2);
    font-weight: normal;
}

.dropdown__btn i {
    margin-left: 0.5rem;
}

.dropdown__options {
    top: 100%;
    left: 0;
    padding: 0.5rem 1rem;
}

.dropdown__menu.open .dropdown__options {
    visibility: visible !important;
    opacity: 1 !important;
}

.dropdown__menu {
    position: relative;
    z-index: 90;
    cursor: pointer;
}

.dropdown__menu.open .dropdown__btn {
    color: var(--text-color);
}

.dual-panel-container {
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    transition: height 1s linear;

    background-color: var(--surface-1);
}

.hidden {
    display: none;
}

.dual-panel-container * {
    color: var(--text-color);
}

.dual-panel-container > *:first-child {
    max-width: 35rem;
    align-self: start;
}

.dual-panel-container > *:last-child {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 55rem) {
    .dual-panel-container {
        flex-direction: column;
    }

    .dual-panel-container > *:first-child {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
}
button {
    cursor: pointer;
}

.like-btn {
    width: 24px;
    height: 24px;
}

.like-btn--like, .like-btn--like::before {
    background-repeat: no-repeat;
    background-position: center;
}

.like-btn--like {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23bbbbbb'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z'/%3E%3C/svg%3E");
}

.like-btn--like::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23d50c0c'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/%3E%3C/svg%3E");
    opacity: 0;
    transition: opacity 0.2s;
}

.like-btn--like.checked {
    animation: bounce .4s;
}

.like-btn--like.checked::before {
    opacity: 1;
}


.post {
    background-color: var(--surface-2);
    border-radius: 15px;
    width: 100%;
    color: var(--text-color);
}

.post-header {
    padding: 1rem 2rem;
}

.post_image_body {
    overflow: hidden;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.post_images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post_images {
    flex: 1;
}

.post_images > .post_image {
    border: 2px solid var(--bg-color);
    max-height: 10rem;
}

#active-image {
    flex: 4;
}

.post_image {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.post__image::after {
    border-radius: 15px;
}
.post_footer {
    padding: 0 1rem 1rem 1rem;
}

.post_description .author_name {
    font-weight: bold;
}

.post__title {
    font-weight: bold;
}

.user__widget {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user__widget_pfp {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.user__widget_name {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user__widget .follow-btn {
    cursor: pointer;
    color: var(--text-color);
    border-right: 2px solid var(--bg-color);
    padding-right: 0.5rem;
}

.user__widget .follow-text {
    color: var(--color-highlighted)
}

.user__widget_interactables {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.user__widget_interactables * {
    font-size: 0.75rem;
}

#edit-post-btn {
    margin-right: 0.5rem;
}

.flexing-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user__widget_btn {
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.user__widget_btn.active {
    transform: rotate(90deg);
}

.sidebar_btns_container {
    padding: 0 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar_btns_container > * {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/*.carousel-item-end {*/
/*    transform: none !important;*/
/*}*/

.gui-toast-group {
    position: fixed;
    z-index: 1;
    inset-block-end: 0;
    inset-inline: 0;
    padding-block-end: 5vh;

    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 1vh;

    /* optimizations */
    pointer-events: none;
}


.gui-toast {
    --_duration: 3s;
    --_bg-lightness: 90%;
    --_travel-distance: 0;

    font-family: system-ui, sans-serif;
    color: white;
    background: hsl(0 0% var(--_bg-lightness) / 90%);

    max-inline-size: min(50ch, 90vw);
    /*padding-block: .5ch;*/
    padding: 1rem 0.5rem;
    padding-inline: 1ch;
    border-radius: 5px;
    font-size: 1rem;

    will-change: transform;
    animation: fade-in .3s ease,
    slide-in .3s ease,
    fade-out .3s ease var(--_duration);
}

.gui-toast-icon {
    margin-right: 0.5rem;
}

.gui-toast.circle-check {
    background: rgba(17,183,127,1);
}

.gui-toast.circle-exclamation {
    background: rgba(238,68,78,1);
}

.gui-toast * {
    color: white;
}

@media (prefers-color-scheme: dark) {
    .gui-toast {
        color: white;
        --_bg-lightness: 20%;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .gui-toast {
        --_travel-distance: 5vh;
    }
}

@keyframes fade-in {
    from { opacity: 0 }
}

@keyframes fade-out {
    to { opacity: 0 }
}

@keyframes slide-in {
    from { transform: translateY(var(--_travel-distance, 10px)) }
}