* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.navbar-header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-header .logo:hover {
    color: #eb3c06;
}

.navbar-header .logo-icon {
    margin-right: 10px;
    color: #f45a2a;
}

.navbar-header .logo {
    color: black;
}

.navbar-header .item {
    flex: 1 1 0;
}

.navbar-header .navbar a {
    font-size: 1rem;
    padding: .5rem .5rem;
    color: black;
    display: inline-block;
    border-radius: .5rem;
    transition: 0.3s ease all;
}

.navbar-header .navbar a:hover {
    background: #eb3c06;
    color: white;
}

.navbar-header .icons {
    text-align: right;
}

.navbar-header .icons i, .navbar-header.icons a {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 50%;
    line-height: 2.5rem;
    margin-left: .5rem;
    background: #eee;
    transition: 0.3s all ease;
}

.navbar-header .icons i:hover, .navbar-header.icons a:hover {
    color: white;
    transform: rotate(360deg);
    background: #eb3c06;
}

.navbar-header .icons #menu-bars {
    display: none;
}


@media (max-width: 728px) {
    .navbar-header {
        padding: 1rem 2rem;
    }

    .navbar-header .logo {
        font-size: 1.3rem;
    }

    .navbar-header .item {
        flex: 0 1 auto;
    }

    .navbar-header .icons #menu-bars {
        display: inline-block;
    }

    .navbar-header .navbar {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border-top: .1rem solid rgba(0,0,0,0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.3s all ease;
    }

    .navbar-header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .navbar-header .navbar a {
        display: block;
        padding: 1rem;
        margin: 1rem;
        font-size: 1rem;
        background: #eee;
    }
}