body {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
}
a {
    transition: 0.3s all !important;
    text-decoration: none !important;
    color: #f45a2a;
}
a:hover {
    color: #eb3c06;
}

.titleText {
    color: #000;
}











@media (max-width: 786px) {

.navbar .container {
    flex-direction: column;
}
.navbar-brand {
    margin: 0px auto;
}
.navbar form {
    flex-direction: column;
    gap: 5px;
}
.navbar button {
    width: fit-content;
    margin: 0px auto;
}
.tagsblock , main .Content , .sidebar {
    width: 100% !important;
}
main .container {
    flex-direction: column;
}


.ResultBody , .ResultFooter , footer .Links {
    flex-direction: column;
    align-items: center;
}
.Greetings {
    text-align: center;
}
.Copyright {
    text-align: center;
    margin-top: 50px;
}
form.SearchBar input {
    width: 100% !important;
}
.ResultsGrid .Results {
    grid-template-columns: repeat(1,1fr) !important;
}

}















.navbar {
    background: #ffffff;
}
.navbar-brand {
    font-weight: 800;
    color: rgba(0,0,0,0.8);
}
.navbar input {
    width: 350px !important;
    border-radius: 100px !important;
    padding: 5px 18px !important;
}
.with-search button {
    background: #f45a2a;
    border: none;
    color: #fff;
    border-radius: 100px;
    padding: 8px;
}
.with-search button:hover {
    background: #eb3c06;
    color: #fff;
}
.NavLinks {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.NavLinks a {
    font-weight: 600;
    color: #333;
    line-height: 50px;
    padding: 0px 5px;
    display: block;
}
.NavLinks a:hover {
    color: #eb3c06;
}

#sidebarcontainer {
    position: sticky;
    top: 20px;
}




header {
    background: #f1f2f6;
    padding: 70px;
}
.template-title {
    background-image: url("https://www.vesudatutorials.com/images/HeaderBg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
}
.SiteTitle {
    font-weight: 700;
}
.authorblock {
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.authorblock img {
    background: rgba(0,0,0,0.1);
    border-radius: 100px;
}
.tagsblock {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 0px;
    gap: 5px;
}
.tag {
    background: #f2d2ca;
    border-radius: 100px;
    font-weight: 600;
    border: 3px solid #f2997f;
    padding: 2px 12px;
    width: fit-content;
    transition: 0.3s all !important;
    cursor: pointer;
}
.tag:hover {
    background: rgb(244 193 180);
    border: 3px solid rgb(244 90 42);
}







.panel {
    /*background: #fff;*/
    /*border-radius: 8px;*/
    margin-bottom: 30px;
}


.panel-body {
    padding: 15px;
}
.information .panel-body {
    padding: 40px 45px;
}







main {
    margin: 50px 0px;
}
main .container {
    display: flex;
    gap: 30px;
}
main .Content {
    width: 75%;
}
.sidebar {
    width: 25%;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.24);
}


.ShareBTN {
    display: block;
    background: #f45a2a;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border-radius: 100px;
    padding: 10px;
    color: #fff;
    margin-bottom: 15px;
}
.ShareBTN:hover {
    background: #ff6702;
    color: #fff;
    letter-spacing: 2px;
}




.changeloginfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
}
.viewlog {
    background: #f45a2a;
    color: #fff;
    border-radius: 8px;
    padding: 2px 12px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}
.viewlog:hover {
    background: #eb3c06;
    color: #fff;
}
.changeversion {
    font-weight: 700;
}

.changedate {
    color: rgba(0,0,0,0.4);
    margin-bottom: 2px;
}
.changelog {
    margin-bottom: 15px;
}
.changelog ul {
    margin: 0;
    color: rgba(0,0,0,0.6);
}
.changelog ul {
    list-style-type: none;
}
.changelog ul > li {
    text-indent: -5px;
}
.changelog ul > li:before {
    content: "-";
    text-indent: -5px;
    margin-right: 5px;
}
hr.changelogdivider {
    margin: 1rem -15px;
    background: rgba(0,0,0,0.3);
}







main.KnowledgeBase {
    margin: 0px;
    background: #f1f2f6;
    padding: 70px 0px;
}
.KnowledgeBase .container {
    flex-direction: column;
}
.InfoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.Greetings {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}
.Greetings span {
    color: #f45a2a;
}
form.SearchBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form.SearchBar input {
    width: 50%;
    border: none;
    padding: 15px 20px;
    border-radius: 100px;
    margin-right: -50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 5%);
}
form.SearchBar button {
    background: #f45a2a;
    border: none;
    color: #fff;
    border-radius: 100px;
    padding: 8px;
}
form.SearchBar button:hover {
    background: #eb3c06;
    color: #fff;
}
.ResultsInfo {
    text-align: center;
    color: #f45a2a;
    font-weight: 600;
    margin-bottom: 30px;
}
.ResultInfo span {
    color: #f45a2a;
    font-weight: 700;
}
.Result {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    transition: 0.3s all !important;
    cursor: pointer;
    position: relative;
}
.Result:hover {
    transform: translateY(-10px);
    box-shadow: rgb(0 0 0 / 25%) 0px 3px 20px;
}
.ResultBody {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
}
.AvatarBlock img {
    border-radius: 100px;
}
.ResultInfo h4 {
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
}
.ResultInfo p {
    margin: 5px 0px 50px;
    color: rgba(0,0,0,0.4);
    line-height: 20px;
}
.ResultFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 0px -15px;
    padding: 20px;
    width: 100%;
    left: 15px;
    bottom: 0;
}
.AuthorBlock {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}
.TimeBlock {
    color: #f45a2a;
    font-weight: 600;
}


.ResultsGrid .Results {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.ResultsGrid .AvatarBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.AuthorInfo {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    font-size: 24px;
}
hr.ResultDivider {
    background: rgba(0,0,0,0.3);
    margin: 20px -25px;
}






footer {
    background: #323232;
    color: #fff;
    padding: 75px;
}
footer .Links {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 5px;
}
footer .Links a {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}
.Copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgba(255,255,255,0.4);
    gap: 50px;
}
.Copyright p {
    margin: 0px;
}

pre code {
    border-left: #eb3c06 solid 3px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.panel-body h1, h2, h3, h4, h5 {
    font-weight: 550;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.panel-body h1 {
    margin-top: 0.5em !important;
    margin-bottom: 1em !important;
    padding-bottom: 0.5em;
    border-bottom: rgba(0,0,0,0.1) solid 1px;
}

.panel-changelog {
    background-color: #f1f2f6;
}

.tag a {
    color: #000;
}