<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta th:replace="fragments/meta" />
    <meta name="keywords" content="About Us, Our Goal, Authors, Site Development, Transparency, Reports, Harry0198, FAQ">
    <meta name="description" content="About the site, what we intend to do and FAQ">
    <title>Contact</title>
    <link rel="stylesheet" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <script class="u-script" type="text/javascript" th:src="@{/js/jquery.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

<!--    <script type="application/ld+json">{-->
<!--		"@context": "http://schema.org",-->
<!--		"@type": "Organization",-->
<!--		"name": "",-->
<!--		"logo": "images/default-logo.png"-->
<!--}</script>-->
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Contact">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body">

  <div th:replace="fragments/navbar-layout2 :: nav"></div>

    <section class="u-clearfix u-section-1" id="sec-67a2">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-1">
          <span class="u-text-custom-color-3">About</span> Us
        </h1>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-96e3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-25-lg u-size-25-xl u-size-31-sm u-size-31-xs u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-container-style u-custom-color-1 u-layout-cell u-size-40 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h2 class="u-text u-text-body-alt-color u-text-default u-text-1">Our Goal</h2>
                      <p class="u-text u-text-body-alt-color u-text-default u-text-2"> We're aiming to provide a tutorial service for programmers. These tutorials should be simple, easy to follow and easy to understand.</p>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <h2 class="u-text u-text-default u-text-3">Authors</h2>
                      <p class="u-text u-text-default u-text-4">All of our author's content is reviewed before publication. This way, you can be assured you're getting quality content at all times.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-29-sm u-size-29-xs u-size-35-lg u-size-35-xl u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-container-style u-custom-color-2 u-layout-cell u-size-60 u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3">
                          <h2 class="u-text u-text-default u-text-5">Site Development</h2>
                          <p class="u-text u-text-default u-text-6">This site is constantly being updated, optimized and improved with new features always in development.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-container-style u-custom-color-3 u-layout-cell u-size-30 u-layout-cell-4">
                        <div class="u-container-layout u-container-layout-4">
                          <h2 class="u-text u-text-default u-text-7">Transparency</h2>
                          <p class="u-text u-text-default u-text-8">We always want to be open and clear with our data usage. We will always update our cookie and privacy policy.
                          </p>
                        </div>
                      </div>
                      <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-5">
                        <div class="u-container-layout u-container-layout-5">
                          <h2 class="u-text u-text-default u-text-9">Reports</h2>
                          <p class="u-text u-text-default u-text-10">We're committed to making our service the best. So if you see an incorrect publication, site error or other. <a href="https://www.vesudatutorials.com/contact">Get in touch!</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-38ad">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
                    <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dcbd"></use></svg>
                    <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-dcbd" style="enable-background:new 0 0 160 160;"><path d="M0,153.3L153.3,0h6.7L0,160V153.3z M129.6,0h6.7L0,136.3v-6.7L129.6,0z M105.6,0h6.7L0,112.3v-6.7L105.6,0z M81.6,0h6.7
	L0,88.3v-6.7L81.6,0z M57.6,0h6.7L0,64.3v-6.7L57.6,0z M33.3,0H40L0,40v-6.7L33.3,0z M9.6,0h6.7L0,16.3V9.6L9.6,0z M18.9,160
	L160,18.9v6.7L25.6,160H18.9z M44.5,160L160,44.5v6.7L51.2,160H44.5z M70.2,160L160,70.2V77l-83,83H70.2z M95.8,160L160,95.8v6.7
	L102.6,160H95.8z M121.8,160l38.2-38.2v6.7L128.5,160H121.8z M147.4,160l12.6-12.6v6.7l-5.9,5.9L147.4,160L147.4,160z"></path></svg>
                  </div>
                  <div alt="" class="u-image u-image-circle u-image-1" th:src="@{/images/Astronaut.png}" data-image-width="856" data-image-height="856"></div>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-custom-color-3 u-text-default u-text-1">Harry0198</h2>
                  <p class="u-text u-text-2">Hi, I'm Harry0198! I'm the owner of the site and single developer as of current working on the site and its features. I also publish various articles which I deem useful for others and / or I feel is poorly explained elsewhere. If you enjoy any of the articles I produce or simply want to know more about me get in touch!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-white u-section-4" id="sec-8815">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-custom-color-3 u-text-default u-text-1">FAQ</h2>
        <p class="u-text u-text-2">Commonly asked questions and answers</p>
        <div class="u-accordion u-expanded-width u-faq u-spacing-10 u-accordion-1">
          <div class="u-accordion-item">
            <a class="active u-accordion-link u-active-custom-color-3 u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-27 u-accordion-link-1" id="link-accordion-f600" aria-controls="accordion-f600" aria-selected="true">
              <span class="u-accordion-link-text">I can't find an article<br>
              </span><span class="u-accordion-link-icon u-icon u-icon-circle u-radius-50 u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-977a"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-977a" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
            </a>
            <div class="u-accordion-active u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-1" id="accordion-f600" aria-labelledby="link-accordion-f600">
              <div class="u-container-layout u-container-layout-1">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>This can simply be a lack of key words, our search function is advanced but some articles take precidence when a lack of identifying words are found.&nbsp;</p>
                  <p>While we're constantly adding and improving our articles, sometimes we just haven't covered a topic yet. You can make a request via the contact forms however, if our understanding of the topic is limited it can take a while for us to write an article due to research and practice we take to develop a solid understanding.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-custom-color-3 u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-27 u-accordion-link-2" id="link-accordion-72f4" aria-controls="accordion-72f4" aria-selected="false">
              <span class="u-accordion-link-text">How do I contact you?<br>
              </span><span class="u-accordion-link-icon u-icon u-icon-circle u-radius-50 u-text-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e1b5"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-e1b5" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-2" id="accordion-72f4" aria-labelledby="link-accordion-72f4">
              <div class="u-container-layout u-container-layout-2">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>You can find out more on our <a href="https://www.vesudatutorials.com/contact" target="_blank">
                      <span class="u-text-custom-color-3">contact page</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-custom-color-3 u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-27 u-accordion-link-3" id="link-accordion-854e" aria-controls="accordion-854e" aria-selected="false">
              <span class="u-accordion-link-text">What do I do if I have found a problem?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-radius-50 u-text-white u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-91c8"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-91c8" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-3" id="accordion-854e" aria-labelledby="link-accordion-854e">
              <div class="u-container-layout u-container-layout-3">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>Whether this be a typo in an article or a part of the website not working properly, please report this to us via the <a href="https://www.vesudatutorials.com/contact">contact page</a> and we will direct it to the appropriate person.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-custom-color-3 u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-27 u-accordion-link-4" id="link-1889" aria-controls="1889" aria-selected="false">
              <span class="u-accordion-link-text">How do I share an article?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-radius-50 u-text-white u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a275"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-a275"><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-4" id="1889" aria-labelledby="link-1889">
              <div class="u-container-layout u-container-layout-4">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>There are a couple ways to share an article. Currently, you can copy the URL or use the share button found on the articles.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-custom-color-3 u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-27 u-accordion-link-5" id="link-66c2" aria-controls="66c2" aria-selected="false">
              <span class="u-accordion-link-text">I have knowledge and would like to share an article. Can I?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-radius-50 u-text-white u-icon-5"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a53e"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-a53e"><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-5" id="66c2" aria-labelledby="link-66c2">
              <div class="u-container-layout u-container-layout-5">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>Yes! While we do not have accounts to which you can freely publish, we do accept written articles. To do this, you can go to the contact page and post a TEXT based version of your article. Please bear in mind that we use markdown to parse our articles from plain text to the page, so typically we ask for it in this format. We also have a few features to utilise to include images, automatic link adding and further. If you wish to learn more you can also ask for more information by visiting the contact us page.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <div th:replace="fragments/footer :: footer"></div>

  </body>
</html>