<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta name="robots" content="noindex">
  <meta name=“description” content="Search the Knowledgebase for tutorials and topics covered by VesudaTutorials" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VesudaTutorials - Programming Tutorials</title>

  <!-- BOOTSTRAP CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- FONTS & ICONS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div th:replace="fragments/navbar-layout1 :: nav"></div>

<main class="KnowledgeBase">
  <div class="container">

    <div class="InfoBlock">
      <div class="Greetings">
        <p>Articles for: <span th:text="${query}">Query</span></p>
      </div>
      <form name="t" th:action="@{/kb/search}" class="SearchBar" method="get">
        <input type="text" name="query" placeholder="Search Knowledge Base" th:maxlength="${maxInputLength}"/>
        <button class="btn btn-primary d-flex" type="submit"><span class="material-icons">search</span></button>
      </form>
    </div>

    <div th:replace="fragments/searchlistlayout"></div>
  </div>
</main>


<div th:replace="fragments/footer :: footer"></div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>