<div class="article__card" th:fragment="card">
  <div class="article__card-header">
    <span class="article__card-difficulty"><span th:text="${article.getTags().stream().findFirst().orElse('Blog')}">Beginner</span><i class="fa fa-circle-dot difficulty-icon easy"></i></span>
  </div>
  <h3 class="article__card-title"><a th:text="${article.getTitle()}" th:href="@{/articles/} + ${article.getArticleUrlSafe()}"></a></h3>
  <p class="article__card-overview" th:text="${article.getTagLine()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <div class="article__card-author">
    <img class="profile-picture" src="https://cdn.discordapp.com/avatars/281088015219032064/293f42162f4ffeddf7a060a30d27d12a.webp?size=96" width="36px" height="36px"  alt="User Profile Picture"/>
    <p>Harry Drummond</p>
  </div>
  <div class="article__card-info">
    <div class="article__card-stats">
      <span><i class="fa fa-eye"></i><span th:text="${article.getViews()}">1k</span></span>
      <span><i class="fa fa-thumbs-up"></i>120</span>
      <span><i class="fa fa-bookmark"></i>13</span>
    </div>
    <hr>
    <div class="article__card-footer">
      <span>4m Read</span>
      <span th:text="${article.getDateCreated().toString()}">04/19/22</span>
    </div>
  </div>
</div>