<footer class="site-footer">
    <div>
        <p>Branding. image?</p>
        <p>&copy; 2022</p>
    </div>
    <div>
        <h5>Page</h5>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Search</a></li>
            <li><a href="">Account</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div>
        <h5>Site</h5>
        <ul>
            <li><a href="">Sitemap</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Manage Cookies</a></li>
        </ul>
    </div>
</footer>