
<div class="_modal" id="modal-signin">
    <h2>Welcome to VesudaTutorials</h2>
    <h4>Sign in to have your say on new articles, customize your profile and follow your favourite authors.</h4>
    <div class="login-signup-options">
        <a th:href="@{/oauth2/authorization/google}" class="login-btn login-google-btn">Sign in with Google</a>
        <a th:href="@{/oauth2/authorization/facebook}" class="login-btn login-facebook-btn">Sign in with Facebook</a>
        <p class="login-options-footer"><a href="#">Don't have an account?</a> Don't worry, when you sign in we will create one for you!</p>
    </div>
    <p class="small-print">By clicking "Sign in" you agree to VesudaTutorials <a th:href="@{/tos}">Terms of Service</a> and acknowledge that VesudaTutorial's <a th:href="privacy">Privacy Policy</a> applies to you.</p>
    <button data-close-button><i class="fa-solid fa-xmark close-btn"></i></button>
</div>

<div id="overlay"></div>