<th:block th:fragment="login(closeable)">
    <div class="_modal" id="modal-signin">
        <h2>Welcome to Brand</h2>
        <h4>Sign in to save posts, customize your profile and follow your favourite authors.</h4>
        <div class="login-signup-options">
            <a th:href="@{/oauth2/authorization/google}" class="login-btn login-google-btn">Sign in with Google</a>
            <a th:href="@{/oauth2/authorization/facebook}" class="login-btn login-facebook-btn">Sign in with Facebook</a>
            <p class="login-options-footer">Don't have an account? Don't worry, when you sign in we will create one for you!</p>
        </div>
        <p class="small-print">By clicking "Sign in" you agree to Brand <a th:href="@{/tos}">Terms of Service</a> and acknowledge that Brand's <a th:href="privacy">Privacy Policy</a> applies to you.</p>
        <button th:if="${closeable}" data-close-button><i class="fa-solid fa-xmark close-btn"></i></button>
    </div>

    <div id="overlay"></div>
</th:block>