<div class="_modal" id="modal-signin">
    <div class="_modal-header">
        <div class="title">Example Header</div>
        <button data-close-button class="close-button">X</button>
    </div>
    <div class="_modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum distinctio eius minima provident quia sapiente
        similique tenetur. Ab, ducimus eius esse est fugiat harum, iusto modi natus nostrum, omnis pariatur quis sed
        sint. A ducimus eligendi inventore ipsum nihil quasi repellendus velit. A aspernatur aut, consectetur
        consequatur delectus deleniti deserunt distinctio dolor dolore exercitationem id inventore ipsa iusto laudantium
        libero minus molestias mollitia non officiis omnis quae quasi quia quod ratione recusandae saepe sequi tempora
        tempore veniam veritatis? Cupiditate, eos.
    </div>
</div>
<div id="overlay"></div>