<nav class="site-nav">
    <div id="overlay"></div>
    <i class="fas fa-bars desktop-hide left-panel nav-menu-btn" id="nav-open-btn"></i>
    <i class="fas fa-xmark desktop-hide left-panel nav-menu-btn" id="nav-close-btn"></i>
    <div class="site-nav-links">
        <a class="site-branding selectable selected" th:href="@{/}"><i class="fas fa-code logo-icon"></i>Branding.</a>
        <a class="mobile-hide selectable" th:href="@{/}">Home</a>
        <a class="mobile-hide selectable" th:href="@{/explore}">Explore</a>
        <button class="mobile-hide selectable" onclick="window.ContactModal.showModal()">Contact</button>
    </div>
    <div class="nav-mobile">
        <div class="search__container">
            <form>
                <input class="search__field" type="text" placeholder="Search..." maxlength="60"/>
                <button class="search__btn" type="submit"><i class="fa fa-magnifying-glass search-btn-icon"></i></button>
            </form>
        </div>
        <a class="hide selectable" th:href="@{/}">Home</a>
        <a class="hide selectable" th:href="@{/explore}">Explore</a>
        <button class="hide selectable" onclick="window.ContactModal.showModal()">Contact</button>
    </div>
    <div class="right-panel">
        <div class="mobile-hide search__container">
            <form name="search" th:action="@{/search}" method="get">
                <input class="search__field" name="query" type="text" placeholder="Search..." maxlength="60"/>
                <button class="search__btn" type="submit"><i class="fa fa-magnifying-glass search-btn-icon"></i></button>
            </form>
        </div>

        <div th:if="${user == null}">
            <button onclick="window.signInDialog.showModal()" class="minor-custom mobile-hide">Sign In</button>
            <button onclick="window.signUpDialog.showModal()" class="button button-custom">Sign Up</button>
            <th:block th:replace="modules/signin :: login"></th:block>
            <th:block th:replace="modules/signup :: signup"></th:block>
        </div>
        <div th:unless="${user == null}">
            <button id="accountDropdownMenu" class=" profile-btn" tabindex="0"><img class="account-pfp" th:src="@{/} + ${user.getUserDetails().getProfilePicturePath()}" alt="Account Profile Picture"></button>
            <div class="list-box profile-list" id="profile-nav" aria-labelledby="accountDropdownMenu">
                <h4 class="list-box-heading">Profile</h4>
                <hr>
                <ul class="list-box-list">
                    <li><a class="selectable" th:href="@{/account/edit-profile}">Edit Profile</a></li>
                    <li><a class="selectable" th:href="@{/account/notifications}">Edit Preferences</a></li>
                    <hr>
                    <li class="nav-profile-icon-item nav-profile-important"><a th:href="@{/post/new}"><i class="fa fa-square-plus"></i>New Post</a></li>
                    <hr>
                    <li><a th:href="@{/account}" class="selectable">Account Settings</a></li>
                    <li><a href="#" onclick="document.getElementById('logout-form').submit();" class="selectable">Sign Out</a></li>
                    <hr>
                    <li><button class="button pagestyle">Switch Theme</button></li>
                </ul>
                <form id="logout-form" th:action="@{/logout}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </div>
        </div>
    </div>

</nav>