<nav class="site-nav">
    <div id="overlay"></div>
    <i class="fas fa-bars desktop-hide left-panel nav-menu-btn" id="nav-open-btn"></i>
    <i class="fas fa-xmark desktop-hide left-panel nav-menu-btn" id="nav-close-btn"></i>
    <div class="site-nav-links">
        <a class="site-branding selectable selected" th:href="@{/}"><i class="fas fa-code logo-icon"></i>Branding.</a>
        <a class="mobile-hide selectable" th:href="@{/explore}">Explore</a>
        <a class="mobile-hide selectable" data-modal-target="#modal-contact-form">Contact</a>
    </div>
    <div class="nav-mobile">
        <div class="search__container">
            <form>
                <input class="search__field" type="text" placeholder="Search..." maxlength="60"/>
                <button class="search__btn" type="submit"><i class="fa fa-magnifying-glass search-btn-icon"></i></button>
            </form>
        </div>
        <a class="hide selectable" th:href="@{/explore}">Explore</a>
        <a class="hide selectable" data-modal-target="#modal-contact-form">Contact</a>
    </div>
    <div class="right-panel">
        <div class="mobile-hide search__container">
            <form name="search" th:action="@{/search}" method="get">
                <input class="search__field" name="query" type="text" placeholder="Search..." maxlength="60"/>
                <button class="search__btn" type="submit"><i class="fa fa-magnifying-glass search-btn-icon"></i></button>
            </form>
        </div>

        <div th:if="${user == null}">
            <button onclick="window.signInDialog.showModal()" class="button button-custom">Sign In</button>
            <th:block th:replace="modules/login :: login(closeable=true)"></th:block>
        </div>
        <div th:unless="${user == null}">
            <button id="accountDropdownMenu" class="account-pfp profile-btn" tabindex="0"><img class="account-pfp" th:src="@{/} + ${user.getUserDetails().getProfilePicturePath()}" alt="Account Profile Picture"></button>
            <div class="list-box profile-list" id="profile-nav" aria-labelledby="accountDropdownMenu">
                <h4 class="list-box-heading">Profile</h4>
                <hr>
                <ul class="list-box-list">
                    <li><a class="selectable" th:href="@{/dashboard/settings}">Edit Profile</a></li>
                    <li><a class="selectable">View Profile</a></li>
                    <li><a th:href="@{/dashboard/saved}" class="selectable">View Saved</a></li>
                    <hr>
                    <li class="nav-profile-icon-item nav-profile-important"><a th:href="@{/post/new}"><i class="fa fa-square-plus"></i>New Post</a></li>
                    <hr>
                    <li><a th:href="@{/dashboard}" class="selectable">Account Settings</a></li>
                    <li><a th:href="@{/logout}" class="selectable">Sign Out</a></li>
                    <hr>
                    <li><button class="button pagestyle">Switch Theme</button></li>
                </ul>
            </div>
        </div>
    </div>

</nav>