<th:block th:fragment="post-card(post)">
  <div class="card__container">
    <div class="card__header">
      <img class="account-pfp" th:src="@{/} + ${post.getPoster().getUserDetails().getProfilePicturePath()}" alt="Author Profile Picture">
      <div class="card__header_content">
        <h3 class="card__title"><a th:href="@{/post/view/} + ${post.getId()}" th:text="${post.getTitle() != null} ? ${post.getTitle()} : 'Example Title'">Some Example Text Hand Crafted For the Title</a></h3>
        <p class="card__sub" th:text="${post.getPoster().getUsername()}">Harry Drummond</p>
      </div>
    </div>
    <div class="card__body">
      <img class="card__image" th:src="@{/} + ${post.getMainImagePath()}">
      <div class="card__stats">
        <p><i class="fa fa-eye"></i> <span th:text="${post.getViews()}">300k</span></p>
<!--        <p><button type='button' class='like-btn like-btn&#45;&#45;like'></button> 1.4k</p>-->
      </div>
    </div>
  </div>
</th:block>