<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notification Preferences - TheDevBlog</title>
  <meta name="id" th:content="${user.getId()}"/>

  <th:block th:replace="fragments/head-fragment :: generic(index=false)"></th:block>
  <link rel="stylesheet" th:href="@{/css/pages/parents/dashboard.css}">

  <th:block th:replace="fragments/head-fragment :: analytics"></th:block>

  <th:block th:replace="fragments/head-fragment :: scripts"></th:block>
  <script type="module" th:src="@{/js/pages/dashboard.js}"></script>
</head>
<body>

<th:block th:replace="modules/navbar.html"></th:block>

<main>
  <th:block th:replace="pages/dashboard/dashboard-head :: head(title='Notifications')"></th:block>
  <section class="settings-area">
    <th:block th:replace="pages/dashboard/dashboard-sidebar :: sidebar(activeNum=3)"></th:block>
    <form class="settings-content" id="edit_preferences-form">
      <h3 class="field-heading">Notification Preferences</h3>
      <hr>
      <fieldset>
        <div class="inline">
          <input
                  type="checkbox"
                  th:checked="${brand}"
                  id="news-notifications"
                  name="brandInfo">
          <label for="news-notifications">Brand news & updates</label>
        </div>
        <p class="sub-comment spacer">Get notified on updates to the site and brand goals.</p>
        <div class="inline">
          <input
                  type="checkbox"
                  th:checked="${accountSummary}"
                  id="comment-notifications"
                  name="accountSummary">
          <label for="comment-notifications">Weekly account summary</label>
        </div>
        <p class="sub-comment spacer">Get notified every week with a summary of all activity on your account.</p>
        <div class="inline">
          <input
                  type="checkbox"
                  th:checked="${promotions}"
                  id="promotion-notifications"
                  name="promotions">
          <label for="promotion-notifications">Promotions and Marketing</label>
        </div>
        <p class="sub-comment spacer">Receive emails purposed for promotions and marketing content</p>
        <hr>
      </fieldset>
      <button class="button-custom" id="update-preferences"><span>Update Preferences</span></button>
    </form>

  </section>
</main>
<th:block th:replace="modules/footer.html"></th:block>

</body>
</html>